# Python Numbers, Type Conversion and Mathematics

In this class, you'll learn about the different numbers used in Python, how to convert from one data type to the other, and the mathematical operations supported in Python.

In [ ]:
a = 6

print(type(a)) # type integer

print(type(5.0))  # type float

c = 6 + 3j
print(c + 3)

print(isinstance(c, complex))

<class 'int'>
<class 'float'>
(9+3j)
True

While integers can be of any length, it is only limited by the memory available.

The numbers we deal with every day are of the decimal (base 10) number system. But computer programmers (generally embedded programmers) need to work with binary (base 2), hexadecimal (base 16) and octal (base 8) number systems.

In Python, we can represent these numbers by appropriately placing a prefix before that number. The following table lists these prefixes.

| Number System | Prefix |
|:----| :--- |
| **`Binary`** |   '0b' or '0B' |
| **`Octal`** |   '0o' or '0O' |
| **`Hexadecimal`** |   '0x' or '0X' |

In [ ]:
# Example 1:

# Output: 1
print(0b0001)  # 0001 in binary is 1 in decimal and i have use prefix '0b'

# Output: 10
print(0o12)    # 12 in octadecimal is 10 in decimal and i have use prefix '0o'

# Output: 10
print(0x000A)  # 000A in hexadecimal is 10 in decimal and i have use prefix '0x'

1
10
10

In [ ]:
# Example 2:

# Output: 107
print(0b1101011)

# Output: 253 (251 + 2)
print(0xFB + 0b10) # adding Hex numbers with binary numbers.

# Output: 13
print(0o15)

107
253
13

## Type Conversion

We can convert one type of number into another. This is also known as coercion.

Operations like addition, subtraction coerce integer to float implicitly (automatically), if one of the operands is float.

In [ ]:
1 + 3.0  # adding integer number '1' and a float number '3.0'. The answer will be flaot number '4.0'.

4.0

We can see above that 1 (integer) is coerced into 1.0 (float) for addition and the result is also a floating point number.

In [ ]:
int(6.3)

6

In [ ]:
int(-2.7)

-2

In [ ]:
float(9)

9.0

In [ ]:
a = 1234567890123456789
print (a)

b = 0.1234567890123456789 # total of only 17 numbers after decimal can be printed.
print (b)

c = 1+2j
print (c)

1234567890123456789
0.12345678901234568
(1+2j)

When converting from float to integer, the number gets truncated (decimal parts are removed).

In [ ]:
complex('3+6j')

(3+6j)

## Python Decimal

Python built-in class float performs some calculations that might amaze us. We all know that the sum of 1.1 and 2.2 is 3.3, but Python seems to disagree.

In [ ]:
(1.1 + 2.2) == 3.3  # The answer should be True but...

False

**What is going on?**

It turns out that floating-point numbers are implemented in computer hardware as binary fractions as the computer only understands binary (0 and 1). Due to this reason, most of the decimal fractions we know, cannot be accurately stored in our computer.

Let's take an example. We cannot represent the fraction 1/3 as a decimal number. This will give 0.33333333... which is infinitely long, and we can only approximate it.

It turns out that the decimal fraction 0.1 will result in an infinitely long binary fraction of 0.000110011001100110011... and our computer only stores a finite number of it.

This will only approximate 0.1 but never be equal. Hence, it is the limitation of our computer hardware and not an error in Python.

In [ ]:
1.1 + 2.2

3.3000000000000003

To overcome this issue, we can use the decimal module that comes with Python. While floating-point numbers have precision up to 15 decimal places, the decimal module has user-settable precision.

Let's see the difference:

In [ ]:
import decimal

print(0.1)

print(decimal.Decimal(0.1))

0.1
0.1000000000000000055511151231257827021181583404541015625

This module is used when we want to carry out decimal calculations as we learned in school.

It also preserves significance. We know 25.50 kg is more accurate than 25.5 kg as it has two significant decimal places compared to one.

In [ ]:
from decimal import Decimal as D

print(D('1.1') + D('2.2'))

print(D('1.2') * D('2.50'))

3.3
3.000

Notice the trailing zeroes in the above example.

We might ask, why not implement **`Decimal`** every time, instead of float? The main reason is efficiency. Floating point operations are carried out must faster than **`Decimal`** operations.

### When to use Decimal instead of float?

We generally use Decimal in the following cases.

1. When we are making financial applications that need exact decimal representation.
2. When we want to control the level of precision required.
3. When we want to implement the notion of significant decimal places.

## Python Fractions

Python provides operations involving fractional numbers through its **`fractions`** module.

A fraction has a numerator and a denominator, both of which are integers. This module has support for rational number arithmetic.

We can create Fraction objects in various ways. Let's have a look at them.

In [ ]:
import fractions

print(fractions.Fraction(1.5))

print(fractions.Fraction(9))

print(fractions.Fraction(1,6))

3/2
9
1/6

While creating **`Fraction`** from **`float`**, we might get some unusual results. This is due to the imperfect binary floating point number representation as discussed in the previous section.

Fortunately, **`Fraction`** allows us to instantiate with string as well. This is the preferred option when using decimal numbers.

In [ ]:
import fractions

# As float
# Output: 2476979795053773/2251799813685248
print(fractions.Fraction(1.1))  # 1.1 is a number

# As string
# Output: 11/10
print(fractions.Fraction('1.1'))  #'1.1' is a string and not a number

2476979795053773/2251799813685248
11/10

This data type supports all basic operations. Here are a few examples.

In [ ]:
from fractions import Fraction as F  # I changed my Fraction module name to "F"

print(F(1.3) + F(1.3))

print(F(1, 3) + F(1, 3))

print(1 / F(5, 6))

print(F(-3, 10) > 0)

print(F(-3, 10) < 0)

5854679515581645/2251799813685248
2/3
6/5
False
True

## Python Mathematics

Python offers modules like **`math`** and **`random`** to carry out different mathematics like trigonometry, logarithms, probability and statistics, etc.

In [ ]:
import math

print(math.pi)

print(math.cos(math.pi)) # cos(pi) = -1

print(math.exp(10))

print(math.log10(1000)) # log10(1000) = 3

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [ ]:
import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e'] # x is a list class of variable and it has 5 elements.

# Get random choice
print(random.choice(x))

# Shuffle x
random.shuffle(x)

# Print the shuffled x
print(x)

# Print random element
print(random.random())

15
b
['d', 'c', 'e', 'a', 'b']
0.8036360430009386

When we run the above program we get the output as follows. (Values may be different due to the random behavior)

# Python Strings

In this class you will learn to create, format, modify and delete strings in Python. Also, you will be introduced to various string operations and functions.

## What is String in Python?

A string is a built-in type sequence of characters. It is used to handle **textual data** in python. Python **Strings are immutable sequences** of **Unicode** points. Creating Strings are simplest and easy to use in Python.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encodings used.

In Python, a string is a sequence of Unicode characters. Unicode was introduced to include every character in all languages and bring uniformity in encoding. These Unicodes range from **$0_{hex}$** to **$10FFFF_{hex}$**. Normally, a Unicode is referred to by writing **"U+"** followed by its **hexadecimal** number. Thus strings in Python are a sequence of Unicode values. You can learn about Unicode from **[Python Unicode](https://docs.python.org/3.3/howto/unicode.html)**.

<div>
<img src="img/s0.png" width="600"/>
</div>

## How to create a string in Python?

Strings can be created by enclosing characters inside a **single quote** or **double-quotes**. Even **triple quotes** can be used in Python but generally used to represent multiline strings and docstrings.

In [ ]:
# Example:

print(999)          # ▶ 999 ∵ integer number
print(type(999))    # ▶ <class 'int'>

print("999")        # ▶ 999 ∵ Watever we write inside " " it become string
print(type("999"))  # ▶ <class 'str'>

999
<class 'int'>
999
<class 'str'>

In [ ]:
# Example: defining strings in Python

my_string = 'Hello'  # A string could be a single character or a bunch of texts
print(my_string)     # ▶ Hello

my_string = "Hello"
print(my_string)     # ▶ Hello

my_string = '''Hello'''
print(my_string)     # ▶ Hello

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [ ]:
# Multiline String

multiline_string = '''I am a resarcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.'''
print(multiline_string)

I am a resarcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.

In [ ]:
# Another way of doing the same thing

multiline_string = """I am a researcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository."""
print(multiline_string)

I am a resarcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.

In [ ]:
# Unpacking characters

language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # ▶ P
print(b) # ▶ y
print(c) # ▶ t
print(d) # ▶ h
print(e) # ▶ o
print(f) # ▶ n
print(h) # ▶ NameError: name 'h' is not defined

P
y
t
h
o
n

NameError: name 'h' is not defined

## How to access characters in a string?

* In Python, Strings are stored as individual characters in a **contiguous memory location**.

* The benefit of using String is that it can be accessed from both the **directions** (forward and backward).

* Both forward as well as backward indexing are provided using Strings in Python.

* Forward indexing starts with **`0,1,2,3,.... `**

* Backward indexing starts with **`-1,-2,-3,-4,.... `**

* Trying to access a character out of index range will raise an **`IndexError`**. The index must be an integer. We can't use floats or other types, this will result into **`IndexError`**.

* Strings can be indexed with square brackets. Indexing starts from zero in Python.

* We can access a range of items in a string by using the slicing operator **`:`**(colon).

* And the **`len()`** function provides the length of a string

```python
str[0] = 'P' = str[-6] ,
str[1] = 'Y' = str[-5] ,
str[2] = 'T' = str[-4] ,
str[3] = 'H' = str[-3] ,
str[4] = 'O' = str[-2] , # refers to the second last item
str[5] = 'N' = str[-1].  # refers to the last item
```

<div>
<img src="img/s3.png" width="300"/>
</div>

In [ ]:
language = 'Python'

first_letter = language[0]
print(first_letter)   # ▶ P

second_letter = language[1]
print(second_letter)  # ▶ y

last_index = len(language) - 1  # ∵ 6-1=5
last_letter = language[last_index]
print(last_letter)    # ▶ n

P
y
n

In [ ]:
# If we want to start from right end we can use negative indexing. -1 is the last index

language = 'Python'
last_letter = language[-1]
print(last_letter) # ▶ n
second_last = language[-2]
print(second_last) # ▶ o

n
o

If we try to access an index out of the range or use numbers other than an integer, we will get errors.

In [ ]:
# Accessing string characters in Python
str = 'PYTHON'
print('str = ', str)               # ▶ str =  PYTHON

# index must be an integer
# print('str[1.50] = ', str[1.5])  # ▶ TypeError: string indices must be integers

# index must be in range
# print('str[15] = ', str[15])     # ▶ IndexError: string index out of range

str =  PYTHON

TypeError: string indices must be integers

In [ ]:
# Here, we are creating a simple program to retrieve String in reverse as well as normal form.

name="Milaan"
length=len(name)
i=0

for n in range(-1,(-length-1),-1):
    print(name[i],"\t",name[n])
    i+=1

M 	 n
i 	 a
l 	 a
a 	 l
a 	 i
n 	 M

## How to slice a string in Python?

Python String **slice** can be defined as a **substring** which is the part of the string. Therefore further substring can be obtained from a string.

There can be many forms to slice a string, as string can be accessed or indexed from both the direction and hence string can also be sliced from both the directions.

Slicing can be best visualized by considering the index to be between the elements as shown below.

If we want to access a range, we need the index that will slice the portion from the string.

<div>
<img src="img/s16.png" width="300"/>
</div>

**Syntax** of Slice Operator :

```python
str[start : stop : step ]
```

other syntax of slice:

```python
str[start : stop]  # items start through stop-1

str[start : ]      # items start through the rest of the array

str[ : stop]       # items from the beginning through stop-1

str[ : ]           # a copy of the whole array
```

In [ ]:
s = 'Python'

# 0  1  2  3  4  5  <- Index number: POSITIVE
# P  y  t  h  o  n
#-6 -5 -4 -3 -2 -1  <- Index number: NEGATIVE

# access elements in range with jump/skip
#s[x:y:z] # Start: x Stop:y-1 Jump:z

s[0:5:1]  # ▶ 'Pytho' ∵ Start:0  Stop:5  Jump:1

'Pytho'

In [ ]:
s = '123456789' # Indexing strats from 0 to 8

print("The string '%s' string is %d characters long" %(s, len(s)))
print('First character of',s,'is',s[0])
print('Last character of',s,'is',s[8])
print('Last character of',s,'is',s[len(s)-1]) # [9-1] = [8] is 9

The string '123456789' string is 9 characters long
First character of 123456789 is 1
Last character of 123456789 is 9
Last character of 123456789 is 9

Negative indices can be used to start counting from the back

In [ ]:
print('First character of',s,'is',s[-len(s)])
print('First character of',s,'is',s[(-9)])
print('Second character of',s,'is',s[(-8)])
print('Last character of',s,'is',s[-1])

First character of 123456789 is 1
First character of 123456789 is 1
Second character of 123456789 is 2
Last character of 123456789 is 9

Finally a substring (range of characters) an be specified as using $a:b$ to specify the characters at index $a,a+1,\ldots,b-1$. Note that the last charcter is *not* included.

In [ ]:
print("First three characters",s[0:3])
print("Next three characters",s[3:6])

First three characters 123
Next three characters 456

An empty beginning and end of the range denotes the beginning/end of the string:

In [ ]:
s = '123456789' #Indexing strats from 0 to 8
print("First three characters", s[:3])
print("Last three characters", s[-3:])

First three characters 123
Last three characters 789

In [ ]:
# Accessing string characters in Python

str = 'PYTHON'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[3:-1])

str =  PYTHON
str[0] =  P
str[-1] =  N
str[1:5] =  YTHO
str[5:-2] =  HO

In [ ]:
# Example:

s="Milan Python"

print(s[6:10])
print(s[-12:-7])
print(s[-1: :-1])  #reversed all string
print(s[2: 10: 2]) #step = 2
print(s[ : : -1])  #reversed all string
print(s[ : 5])     #from 0 to 4
print(s[3 : ])     #from 3 to end of the string
print(s[ : ])      #copy all string

**NOTE**: Both the operands passed for concatenation must be of same type, else it will show an error.

## Breaking appart strings

When processing text, the ability to split strings appart is particularly useful.

* `partition(separator)`: breaks a string into three parts based on a separator

* `split()`: breaks string into words separated by white-space (optionally takes a separator as argument)

* `join()`: joins the result of a split using string as separator

In [ ]:
s = "one ➡ two ➡ three"
print( s.partition("➡") )
print( s.split() )
print( s.split(" ➡ ") )
print( ";".join( s.split(" ➡ ") ) )

('one ', '➡', ' two ➡ three')
['one', '➡', 'two', '➡', 'three']
['one', 'two', 'three']
one;two;three

In [ ]:
"This will split all words into a list".split()

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [ ]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

In [ ]:
'Happy New Year'.find('ew')

7

In [ ]:
'Happy New Year'.replace('Happy','Brilliant')

## How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

In [ ]:
my_string = 'python'
my_string[5] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
s='012345'
sX=s[:2]+'X'+s[3:] # this creates a new string with 2 replaced by X
print("creating new string",sX,"OK")

sX=s.replace('2','X') # the same thing
print(sX,"still OK")

s[2] = 'X' # an error!!!

creating new string 01X345 OK
01X345 still OK

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the **`del`** keyword.

In [ ]:
my_string = 'python'
del my_string[1]  # deleting element of string generates error!

TypeError: 'str' object doesn't support item deletion

In [ ]:
my_string = 'python'
del my_string # deleting whole string using 'del' keyword can delete it.
my_string

NameError: name 'my_string' is not defined

### 1. Basic Operators for concatenation of two or more strings

There are two types of basic operators in String **`+`** and **`*`**.

The **`+`** (concatenation) operator can be used to concatenates two or more string literals together.

The **`*`** (Replication) operator can be used to repeat the string for a given number of times.

#### String Concatenation Operator (**`+`**)
Joining of two or more strings into a single one is called concatenation.

In [ ]:
# String Concatenation

a = "Hello,"
b= 'World!'
print(a+b)
print(a+" "+b)

Hello,World!
Hello, World!

In [ ]:
# String Concatenation

string1='World'
string2='!'
print('Hello,' + " " + string1 + string2)

Hello, World!

| Expression | Output |
|:----| :--- |
| **`"10" + "50"`** |   **"1050"**  |
| **`"hello" + "009"`** |   **"hello009"** |
| **`"hello99" + "world66" `** |   **"hello99world66"** |

>**Note:** Both the operands passed for concatenation must be of same type, else it will show an error.

In [ ]:
# Example:

print("HelloWorld"+99)

TypeError: can only concatenate str (not "int") to str

#### Python String Replication Operator (**`*`**)

**Replication operator** uses two parameters for operation, One is the integer value and the other one is the String argument.

The Replication operator is used to **repeat a string** number of times. The string will be repeated the number of times which is given by the **integer value**.

| Expression | Output |
|:----| :--- |
| **`"ArcX" \* 2`** |   **"ArcXArcX"**  |
| **`3 *'5'`** |   **"555"** |
| **`'@'* 5 `** |   **"@@@@@"** |

>**Note:**: We can use Replication operator in any way i.e., int **`*`** string or string **`*`** **`int`**. Both the parameters passed cannot be of same type.

In [ ]:
# Example:

print("HelloWorld" * 5)
print(3 * "Python")

In [ ]:
print("Hello World! "*5)  #note the space in between 'Hello' and 'World!'

Hello World! Hello World! Hello World! Hello World! Hello World!

In [ ]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

If we want to concatenate strings in different lines, we can use parentheses **`()`**.

In [ ]:
# two string literals together
'Hello ''World!'

'Hello World!'

In [ ]:
# using parentheses
s = ('Hello '
     'World')
s

'Hello World'

In [ ]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

### 2. Python String Membership Operators

Membership Operators are already discussed in the Operators section. Let see with context of String.

There are two types of Membership operators :

1. **`in`** - "in" operator returns true if a character or the entire substring is present in the specified string, otherwise false.

2. **`not in`** - "not in" operator returns true if a character or entire substring does not exist in the specified string, otherwise false.

In [ ]:
# Example:

str1="HelloWorld"
str2="Hello"
str3="World"
str4="Milan"

print('Exmple of in operator ::')
print(str2 in str1)
print(str3 in str1)
print(str4 in str1)
print()
print(str2 not in str1)
print(str3 not in str1)
print(str4 not in str1)

Exmple of in operator ::
True
True
False

False
False
True

In [ ]:
>>> 'a' in 'program'
True
>>> 'at' not in 'battle'
False

False

### 3. Python Relational Operators

All the comparison (relational) operators i.e., **(<, ><=, >=, ==, !=, <>)** are also applicable for strings. The Strings are compared based on the **ASCII value** or **Unicode**(i.e., dictionary Order).

In [ ]:
# Example:

print("HelloWorld"=="HelloWorld")
print("helloWorld">="HelloWorld")
print("H"<"h")

True
True
True

**Explanation:**

The ASCII value of a is 97, b is 98, c is 99 and so on. The ASCII value of A is 65, B is 66, C is 67 and so on. The comparison between strings are done on the basis on ASCII value.

The **`%`** operator is used to format a string inserting the value that comes after. It relies on the string containing a format specifier that identifies where to insert the value. The most common types of format specifiers are:

   - **`%s`** ➡ string
   - **`%d`** ➡ Integer
   - **`%f`** ➡ Float
   - **`%o`** ➡ Octal
   - **`%x`** ➡ Hexadecimal
   - **`%e`** ➡ exponential
    
These will be very familiar to anyone who has ever written a C or Java program and follow nearly exactly the same rules as the **[printf() function](https://en.wikipedia.org/wiki/Printf_format_string)**.

In [ ]:
print("Hello %s" % string1)
print("Actual Number = %d" %19)
print("Float of the number = %f" %19)
print("Octal equivalent of the number = %o" %19)
print("Hexadecimal equivalent of the number = %x" %19)
print("Exponential equivalent of the number = %e" %19)

Hello World
Actual Number = 19
Float of the number = 19.000000
Octal equivalent of the number = 23
Hexadecimal equivalent of the number = 13
Exponential equivalent of the number = 1.900000e+01

When referring to multiple variables parentheses is used. Values are inserted in the order they appear in the parantheses (more on tuples in the next section)

In [ ]:
print("Hello %s %s. My name is Bond, you can call me %d" %(string1,string2,99))

Hello World !. My name is Bond, you can call me 99

We can also specify the width of the field and the number of decimal places to be used.
For example:

In [ ]:
print('Print width 10: |%10s|'%'x')
print('Print width 10: |%-10s|'%'x') # left justified
print("The number pi = %.1f to 1 decimal places"%3.1415)
print("The number pi = %.2f to 2 decimal places"%3.1415)
print("More space pi = %10.2f"%3.1415)
print("Pad pi with 0 = %010.2f"%3.1415) # pad with zeros

Print width 10: |         x|
Print width 10: |x         |
The number pi = 3.1 to 1 decimal places
The number pi = 3.14 to 2 decimal places
More space pi =       3.14
Pad pi with 0 = 0000003.14

In [ ]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

## Python String Formatting

### Escape Sequence

If we want to print a text like `He said, "What's there?"`, we can neither use single quotes nor double quotes. This will result in a SyntaxError as the text itself contains both single and double quotes.

In [ ]:
print("He said, "What's there?"")

SyntaxError: invalid syntax (<ipython-input-39-5b2db8c64782>, line 1)

One way to get around this problem is to use triple quotes. Alternatively, we can use escape sequences.

An escape sequence starts with a backslash and is interpreted differently. If we use a single quote to represent a string, all the single quotes inside the string must be escaped. Similar is the case with double quotes. Here is how it can be done to represent the above text.

In [ ]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

### Here is a list of all the escape sequences supported by Python.

| Escape Sequence | Description |
|:----:| :--- |
| **`\newline`** |   Backslash and newline ignored  |
| **`\\`** |   Backslash |
| **`\'`** |   Single quote |
| **`\"`** |   Double quote |
| **`\a`** |   ASCII Bell |
| **`\b`** |   ASCII Backspace |
| **`\f`** |   ASCII Formfeed |
| **`\n`** |   ASCII Linefeed |
| **`\r`** |   ASCII Carriage Return |
| **`\t`** |   ASCII Horizontal Tab |
| **`\v`** |   ASCII Vertical Tab |
| **`\ooo`** |   Character with octal value ooo |
| **`\xHH`** |   Character with hexadecimal value HH |

In [ ]:
# Escape sequence

print('I hope every one enjoying the python tutorials.\nDo you ?') # '\n' line break
print('Days\tChapters\tTopics')  # '\t' tab space
print('Day 1\tChp 1\tPython Introduction')
print('Day 2\tChp 2\tPython Datatypes')
print('Day 3\tChp 3\tPython Flow Control')
print('Day 4\tChp 4\tPython Functions')
print('Day 5\tChp 5\tPython Files')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python tutorials.
Do you ?
Days	Chapters	Topics
Day 1	Chp 1	Python Introduction
Day 2	Chp 2	Python Datatypes
Day 3	Chp 3	Python Flow Control
Day 4	Chp 4	Python Functions
Day 5	Chp 5	Python Files
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [ ]:
# Here are some examples

print("C:\\Python32\\Lib")
#C:\Python32\Lib

print("This is printed\nin two lines")
#This is printed
#in two lines

print("This is \x48\x45\x58 representation")
#This is HEX representation

C:\Python32\Lib
This is printed
in two lines
This is HEX representation

### Raw String to ignore escape sequence

Sometimes we may wish to ignore the escape sequences inside a string. To do this we can place **`r`** or **`R`** in front of the string. This will imply that it is a raw string and any escape sequence inside it will be ignored.

In [ ]:
print("This is \x61 \ngood example")

This is a
good example

In [ ]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example

### The `format()` Method for Formatting Strings

The **`format()`** method that is available with the string object is very versatile and powerful in formatting strings. Format strings contain curly braces **`{}`** as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [ ]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('Allan','Bill','Cory')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('Allan','Bill','Cory')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='Allan',b='Bill',s='Cory')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Allan, Bill and Cory

--- Positional Order ---
Bill, Allan and Cory

--- Keyword Order ---
Cory, Bill and Allan

In [ ]:
# formatting integers
"Binary representation of {0} is {0:b}".format(12)

'Binary representation of 12 is 1100'

In [ ]:
# formatting floats
"Exponent representation: {0:e}".format(1966.365)

'Exponent representation: 1.966365e+03'

In [ ]:
# round off
"One third is: {0:.3f}".format(1/3)

'One third is: 0.333'

In [ ]:
# string alignment
"|{:<10}|{:^10}|{:>10}|".format('bread','butter','jam')

'|bread     |  butter  |       jam|'

### Old style formatting

We can even format strings like the old **`sprintf()`** style used in C programming language. We use the **`%`** operator to accomplish this.

In [ ]:
x = 36.3456789
print('The value of x is %3.2f' %x)

The value of x is 36.35

In [ ]:
print('The value of x is %3.4f' %x)

The value of x is 36.3457

In [ ]:
# Example:

s="heLLo wORLd!"
print(s.capitalize(),"vs",s.title())

print("upper case: '%s'"%s.upper(),"lower case: '%s'"%s.lower(),"and swapped: '%s'"%s.swapcase())

print('|%s|' % "Hello World".center(30)) # center in 30 characters

print('|%s|'% "     lots of space             ".strip()) # remove leading and trailing whitespace

print('%s without leading/trailing d,h,L or ! = |%s|',s.strip("dhL!"))

print("Hello World".replace("World","Class"))

Hello world! vs Hello World!
upper case: 'HELLO WORLD!' lower case: 'hello world!' and swapped: 'HEllO WorlD!'
|         Hello World          |
|lots of space|
%s without leading/trailing d,h,L or ! = |%s| eLLo wOR
Hello Class

In [ ]:
# capitalize(): Converts the first character the string to Capital Letter

challenge = 'Python Datatypes'
print(challenge.capitalize()) # 'Python Datatypes'

Python datatypes

In [ ]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'Python Datatypes'
print(challenge.count('y')) # 2
print(challenge.count('y', 6, 14)) # 1
print(challenge.count('ty')) # 1

2
1
1

In [ ]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'Python Datatypes'
print(challenge.endswith('es'))   # True
print(challenge.endswith('type')) # False

True
False

In [ ]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'Python\tDatatypes'
print(challenge.expandtabs())   # 'Python  Datatypes'
print(challenge.expandtabs(10)) # 'Python    Datatypes'

Python  Datatypes
Python    Datatypes

In [ ]:
# find(): Returns the index of first occurrence of substring

challenge = 'Python Datatypes'
print(challenge.find('y'))  # 1
print(challenge.find('u')) # -1

1
-1

In [ ]:
# format()	formats string into nicer output
first_name = 'Milaan'
last_name = 'Parmar'
job = 'Lecturer'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Milaan Parmar. I am a Lecturer. I live in Finland.

I am Milaan Parmar. I am a Lecturer. I live in Finland.

In [ ]:
# index(): Returns the index of substring

challenge = 'Python Datatypes'
print(challenge.find('y'))  # 1
print(challenge.find('th')) # 2

1
2

In [ ]:
# isalnum(): Checks alphanumeric character

challenge = 'PythonDatatypes'
print(challenge.isalnum()) # True

challenge = 'Pyth0nDatatypes'
print(challenge.isalnum()) # True

challenge = 'Python Datatypes'
print(challenge.isalnum()) # False

challenge = 'Python Datatypes 2021'
print(challenge.isalnum()) # False

True
True
False
False

In [ ]:
# isalpha(): Checks if all characters are alphabets

challenge = 'PythonDatatypes'
print(challenge.isalpha()) # True

num = '123'
print(num.isalpha())      # False

True
False

In [ ]:
# isdecimal(): Checks Decimal Characters

challenge = 'Python Datatypes'
print(challenge.find('y'))  # 1
print(challenge.find('th')) # 2

1
2

In [ ]:
# isdigit(): Checks Digit Characters

challenge = 'Ninety'
print(challenge.isdigit()) # False
challenge = '90'
print(challenge.isdigit())   # True

False
True

In [ ]:
# isdecimal():Checks decimal characters

num = '30'
print(num.isdecimal()) # True
num = '30.6'
print(num.isdecimal()) # False

True
False

In [ ]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '2021PythonDatatypes'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'Python_Datatypes'
print(challenge.isidentifier()) # True

False
True

In [ ]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'python datatypes'
print(challenge.islower()) # True
challenge = 'Python datatypes'
print(challenge.islower()) # False

True
False

In [ ]:
# isupper(): returns if all characters are uppercase characters

challenge = 'python datatypes'
print(challenge.isupper()) #  False
challenge = 'PYTHON DATATYPES'
print(challenge.isupper()) # True

False
True

In [ ]:
# isnumeric():Checks numeric characters

num = '90'
print(num.isnumeric())         # True
print('ninety'.isnumeric())    # False

True
False

In [ ]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [ ]:
# strip(): Removes both leading and trailing characters

challenge = ' python datatypes '
print(challenge.strip('y')) # 5

 python datatypes

In [ ]:
# replace(): Replaces substring inside

challenge = 'python datatypes'
print(challenge.replace('datatypes', 'data-types')) # 'thirty days of coding'

python data-types

In [ ]:
# split():Splits String from Left

challenge = 'python datatypes'
print(challenge.split()) # ['python', 'datatypes']

['python', 'datatypes']

In [ ]:
# title(): Returns a Title Cased String

challenge = 'python datatypes'
print(challenge.title()) # Python Datatypes

Python Datatypes

In [ ]:
# swapcase(): Checks if String Starts with the Specified String

challenge = 'python datatypes'
print(challenge.swapcase())   # PYTHON DATATYPES
challenge = 'Python Datatypes'
print(challenge.swapcase())  # pYTHON dATATYPES

PYTHON DATATYPES
pYTHON dATATYPES

In [ ]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'python datatypes'
print(challenge.startswith('python')) # True
challenge = '2 python datatypes'
print(challenge.startswith('two')) # False

True
False

#### Inspecting Strings

There are also lost of ways to inspect or check strings. Examples of a few of these are given here:

* Checking the start or end of a string: **`startswith("string")`** and **`endswith("string")`** checks if it starts/ends with the string given as argument

* Capitalisation: There are boolean counterparts for all forms of capitalisation, such as **`isupper()`**, **`islower()`** and **`istitle()`**

* Character type: does the string only contain the characters:
  * 0-9: **`isdecimal()`**. Note there is also **`isnumeric()`** and **`isdigit()`** which are effectively the same function except for certain unicode characters
  * a-zA-Z: **`isalpha()`** or combined with digits: **`isalnum()`**
  * non-control code: **`isprintable()`** accepts anything except '\n' an other ASCII control codes
  * \t\n \r (white space characters): **`isspace()`**
  * Suitable as variable name: **`isidentifier()`**
  
* Find elements of string: **`s.count(w)`** finds the number of times **`w`** occurs in **`s`**, while **`s.find(w)`** and **`s.rfind(w)`** find the first and last position of the string **`w`** in **`s`**.

In [ ]:
# Example:

s="Hello World"
print("The length of '%s' is"%s,len(s),"characters") # len() gives length of the string

s.startswith("Hello") and s.endswith("World") # check start/end

# count strings
print("There are %d 'l's but only %d World in %s" % (s.count('l'),s.count('World'),s))

print('"el" is at index',s.find('el'),"in",s) #index from 0 or -1

The length of 'Hello World' is 11 characters
There are 3 'l's but only 1 World in Hello World
"el" is at index 1 in Hello World

## Advanced string processing
For more advanced string processing there are many libraries available in Python including for example:
* **re** for regular expression based searching and splitting of strings
* **html** for manipulating HTML format text
* **textwrap** for reformatting ASCII text
* ... and many more

# Python List

In this class, we'll learn everything about Python lists, how they are created, slicing of a list, adding or removing elements from them and so on.

Python offers a range of compound data types often referred to as sequences. List is one of the most frequently used and very versatile data types used in Python.

## What is List in Python?

Python list is a **data structure** which is used to store various types of data.In Python, lists are **mutable** i.e., Python will not create a new list if we modify an element of the list.

It works as a container that holds other objects in a given order. We can perform various operations like insertion and deletion on list. A list can be composed by storing a **sequence** of different type of values **separated by commas**.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |✎|

## Creating Python List

In Python programming, a list is created by placing all the items (elements) inside **square brackets `[]`**, separated by **commas** **`,`**. All the elements in list are stored in the index basis with starting index **0**.

It can have any number of items and they may be of different types (integer, float, string etc.).

<div>
<img src="img/l0.png" width="600"/>
</div>

**Syantax:**

```python
<list_name>=[value1,value2,value3,...,valuen]
```

In [ ]:
# Example:

# empty list, no item in the list
my_list = []
print(my_list)      # ▶ ()
print(len(my_list)) # ▶ 0

# list of integers
my_list1 = [1, 2, 3]
print(my_list1)     # ▶ [1, 2, 3]

# list with mixed data types
my_list2 = [1, "Hello", 3.4]
print(my_list2)     # ▶ [1, 'Hello', 3.4]

# nested list
my_list3 = ["mouse", [9, 3, 6], ['a']]
print(my_list3)     # ▶ ["mouse", [9, 3, 6], ['a']]

my_list4=['foo','bar','baz','quz','quux','corge']
print(my_list4)     # ▶ ['foo','bar','baz','quz','quux','corge']

my_list5=[1,2,3,4,4.5,'helloworld','X']
print(my_list5)     # ▶ [1,2,3,4,4.5,'helloworld','X']

[]
0
[1, 2, 3]
[1, 'Hello', 3.4]
['mouse', [9, 3, 6], ['a']]
['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
[1, 2, 3, 4, 4.5, 'helloworld', 'X']

## Access elements from a list

There are various ways in which we can access the elements of a list.

### List Index

We can use the index operator **`[]`** to access an item in a list. In Python, indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

Trying to access indexes other than these will raise an **`IndexError`**. The index must be an integer. We can't use float or other types, this will result in **`TypeError`**.

Nested lists are accessed using nested indexing.

<div>
<img src="img/l6_1.png" width="400"/>
</div>

In [ ]:
# Example: List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

print(my_list[0]) # ▶  p
print(my_list[2]) # ▶  o
print(my_list[4]) # ▶  e

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1]) # ▶ a
print(n_list[1][3]) # ▶ 5

print(my_list[4.0]) # ▶ TypeError: list indices must be integers or slices, not float

p
o
e
a
5

TypeError: list indices must be integers or slices, not float

### Negative indexing

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
# Example: Negative indexing in lists

# Python allows negative indexing for its sequences.
#The index of -1 refers to the last item, -2 to the second last item and so on.

my_list = ['p','r','o','b','e']

print(my_list[-1])  # ▶ e
print(my_list[-5])  # ▶ p

e
p

>**Note:** If the index provided in the list slice is outside the list, then it raises an IndexError exception.

### How to slice lists in Python?

We can access a range of items in a list by using the slicing operator **`:`**(colon).

**Syntax:**

```python
<list_name>[start : stop : step]
```

In [ ]:
# Example: List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','n','g']
# indes   [ 0   1   2   3   4   5   6   7   8   9 ]
# index   [-10 -9  -8  -7  -6  -5  -4  -3  -2  -1 ]

print(my_list[2:5])   # ▶ ['o', 'g', 'r'] ∵ elements 3rd to 4th
print(my_list[:-5])   # ▶ ['p', 'r', 'o', 'g', 'r'] ∵ elements beginning to 4th
print(my_list[5:])    # ▶ ['a', 'm', 'i', 'n', 'g'] ∵ elements 5th to end

# elements beginning to end
print(my_list[:])     # ▶ ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n','g')

['o', 'g', 'r']
['p', 'r', 'o', 'g', 'r']
['a', 'm', 'i', 'n', 'g']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g']

Slicing can be best visualized by considering the index to be between the elements as shown below. So if we want to access a range, we need two indices that will slice that portion from the list.

<div>
<img src="img/l6_2.png" width="350"/>
</div>

>**NOTE:** Internal Memory Organization:

>List do not store the elements directly at the index. In fact a reference is stored at each index which subsequently refers to the object stored somewhere in the memory. This is due to the fact that some objects may be large enough than other objects and hence they are stored at some other memory location.

In [ ]:
# Example:

list=['foo','bar','baz','quz','quux','corge']

print(list[2])         # ▶ baz
print(list[0:])        # ▶ ['foo', 'bar', 'baz', 'quz', 'quux', 'corge'] ∵ if we don't set where to stop it takes all the rest
print(list[4:6])       # ▶ ['quux', 'corge']
print(list[-4:-1])     # ▶ ['baz', 'quz', 'quux'] ∵ it does not include the end index
print(list[1:5:2])     # ▶ ['bar', 'quz'] ∵ it does not include the end index
print(list[-1: :-1])   # ▶ ['corge', 'quux', 'quz', 'baz', 'bar', 'foo'] ∵ reverse list
print(list[-1])        # ▶ corge ∵ last element
print(list[-2])        # ▶ quux ∵ second last element
print(len(list)-1)     # ▶ 5 ∵ index of last element

does_exist = 'bar' in list
print(does_exist)      # ▶ True

baz
['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['quux', 'corge']
['baz', 'quz', 'quux']
['bar', 'quz']
['corge', 'quux', 'quz', 'baz', 'bar', 'foo']
corge
quux
5
True

## Python List Operations

Apart from creating and accessing elements from the list, Python allows us to perform various other operations on the list. Some common operations are given below:

In [ ]:
# Example: Correcting mistake values in a list

odd = [2, 4, 6, 8]

odd[0] = 1            # ▶ [1, 4, 6, 8] ∵ update 1st element
print(odd)

odd[1:4] = [3, 5, 7]  # ▶ [1, 3, 5, 7] ∵ update 2nd to 4th elements
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Example:

data1=[5,10,15,20,25]
print(data1) # ▶ [5, 10, 15, 20, 25]

data1[2]="Multiple of 5"  # we are modifying the 3rd element using its index [2]
print(data1) # ▶ [5, 10, 'Multiple of 5', 20, 25]

[5, 10, 15, 20, 25]
[5, 10, 'Multiple of 5', 20, 25]

We can add one item to a list using the **`append()`** method or add several items using **`extend()`** method.

In [ ]:
# Example: Appending and Extending lists in Python

odd = [1, 3, 5]

odd.append(7)
print(odd)  # ▶ [1, 3, 5, 7]

odd.extend([9, 11, 13])
print(odd)  # ▶ [1, 3, 5, 7, 9, 11, 13]

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# Example:

list1=['a','b','c']
list1.append(1.5)
list1.append('x')
list1.append(['y','z']) # append list into list as single object
print(list1)  # ▶ ['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

We can also use **`+`** (concatenation) operator to combine two lists. This is also called concatenation.

In [ ]:
# Example: Concatenating and repeating lists

odd = [1, 3, 5]
print(odd + [9, 7, 5]) # ▶ [1, 3, 5, 9, 7, 5]

[1, 3, 5, 9, 7, 5]

In [ ]:
# Example:

list1=['a','b','c']
list2=['x','y','z']
list3=list1+list2
print(list3)  # ▶ ['a', 'b', 'c', 'x', 'y', 'z']

['a', 'b', 'c', 'x', 'y', 'z']

In [ ]:
# Example:

list1=['a','b','c']
a='x'
print(list1+a)  # ▶ TypeError: can only concatenate list (not "str") to list

TypeError: can only concatenate list (not "str") to list

>**NOTE:** **`+`** operator implies that both the operands passed must be list else error will be shown.

The **`'*'`** operator repeats a list for the given number of times.

In [ ]:
# Example: Concatenating and repeating lists

odd = [1, 3, 5]

print(odd + [9, 7, 5])  # ▶ [1, 3, 5, 9, 7, 5]
print(["re"] * 3)       # ▶ ['re', 're', 're']

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
# Example:

list1=['a','b','c']
print(list1*3)    # ▶ quux ∵
print(["re"] * 3) # ▶ quux ∵

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
['re', 're', 're']

Furthermore, we can insert one item at a desired location by using the method **`insert()`** or insert multiple items by squeezing it into an empty slice of a list.

In [ ]:
# Example: Demonstration of list insert() method

odd = [1, 9]
odd.insert(1,3)
print(odd)  # ▶ [1, 3, 9]

odd[2:2] = [5, 7]
print(odd)  # ▶ [1, 3, 5, 7, 9]

[1, 3, 9]
[1, 3, 5, 7, 9]

### Delete/Remove List Elements

We can delete one or more items from a list using the keyword **`del`**. It can even delete the list entirely.

In [ ]:
# Example: Deleting list items

my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]  # delete one item
print(my_list)  # ▶ ['p', 'r', 'b', 'l', 'e', 'm']

del my_list[1:5]  # delete multiple items
print(my_list)  # ▶ ['p', 'm']

del my_list      # delete entire list
print(my_list)   # ▶ NameError: name 'my_list' is not defined

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: name 'my_list' is not defined

In [ ]:
# Example:

list1=['a','b','c']
print("data in list : ",list1)      # ▶ data in list :  ['a', 'b', 'c']

del(list1[2])
print("new data in list : ",list1)  # ▶ new data in list :  ['a', 'b']

data in list :  ['a', 'b', 'c']
new data in list :  ['a', 'b']

We can use **`remove()`** method to remove the given item or **`pop()`** method to remove an item at the given index.

The **`pop()`** method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the **`clear()`** method to empty a list.

In [ ]:
# Example:

my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

print(my_list)        # ▶ ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list.pop(1)) # ▶ 'o'
print(my_list)        # ▶ ['r', 'b', 'l', 'e', 'm']
print(my_list.pop())  # ▶ 'm'
print(my_list)        # ▶ ['r', 'b', 'l', 'e']

my_list.clear()
print(my_list)        # ▶ []

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

Finally, we can also delete items in a list by assigning an empty list to a slice of elements.

In [ ]:
# Example:

my_list = ['p','r','o','b','l','e','m']

my_list[2:3] = []
print(my_list)  # ▶ ['p', 'r', 'b', 'l', 'e', 'm']

my_list[2:-2] = []
print(my_list)  # ▶ ['p', 'r', 'e', 'm']

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'e', 'm']

### **`all(list)`** - The method all() method returns True when all elements in the given iterable are true. If not, it returns False.

In [ ]:
# Example: How all() works for lists?

l = [1, 3, 4, 5]
print(all(l))  # ▶ True ∵ all values true

l = [0, False]
print(all(l))  # ▶ False ∵ all values false

l = [1, 3, 4, 0]
print(all(l))  # ▶ False ∵ one false value

l = [0, False, 5]
print(all(l))  # ▶ False ∵ one true value

l = []
print(all(l))  # ▶ True ∵ empty iterable

True
False
False
False
True

### **`any(list)`** - any() function returns True if any element of an iterable is True. If not, any() returns False.

In [ ]:
# Example: True since 1,3 and 4 (at least one) is true

l = [1, 3, 4, 0]
print(any(l))  # ▶ True

l = [0, False]
print(any(l))  # ▶ False ∵ both are False

l = [0, False, 5]
print(any(l))  # ▶ True ∵ 5 is true

l = []
print(any(l))  # ▶ False ∵ iterable is empty

True
False
True
False

### **`sorted(dict)`** - The sorted() function sorts the elements of a given iterable in a specific order (either **ascending** or **descending**) and returns the sorted iterable as a list.

In [ ]:
# Example: vowels list

py_list = ['e', 'a', 'u', 'o', 'i']
print(sorted(py_list))                # ▶ ['a', 'e', 'i', 'o', 'u']
print(sorted(py_list, reverse=True))  # ▶ ['u', 'o', 'i', 'e', 'a']

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

### **`min(list)`** - this method is used to get min value from the list. In Python3 lists element's type should be same otherwise compiler throw type Error.

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = [1,2,3]
list3=['a','b','c',1,2,3]

print(min(list1))  # ▶ a
print(min(list2))  # ▶ 1
print(min(list3))  # ▶ TypeError: '<' not supported between instances of 'int' and 'str'

a
1

TypeError: '<' not supported between instances of 'int' and 'str'

### **`max(list)`** - The max() method returns the elements from the list with maximum value.

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = [1,2,3]
list3=['a','b','c',1,2,3]

print(max(list1))  # ▶ c
print(max(list2))  # ▶ 3
print(max(list3))  # ▶ TypeError: '>' not supported between instances of 'int' and 'str'

c
3

TypeError: '>' not supported between instances of 'int' and 'str'

### **`len(list)`** - The len() method returns the number of elements in the list.

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = []
list3=['a','b','c',1,2,3]

print(len(list1))  # ▶ 3
print(len(list2))  # ▶ 0
print(len(list3))  # ▶ 6

3
0
6

### **`append()`** - The `append()` method adds an item to the end of the list.

In [ ]:
# Example:

list1 =[1,2,3]
list1.append(4)
list1.append('helloworld')
list1.append(['a','b','c']) #append as single object
print(list1)  # ▶ [1, 2, 3, 4, 'helloworld', ['a', 'b', 'c']]

[1, 2, 3, 4, 'helloworld', ['a', 'b', 'c']]

### **`extend()`** - The `extend()` method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

In [ ]:
# Example:

list1 =[1,2,3]
list1.extend([4])
list1.extend('helloworld')
list1.extend(['a','b','c'])
print(list1)  # ▶ [1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'a', 'b', 'c']

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'a', 'b', 'c']

### **`insert()`** - The `insert()` method inserts an element to the list at the specified index.

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.insert(3,'C#')
print(list1)  # ▶ ['helloworld', 'python', 'java', 'C#', 'c++', 1, 2, 3]

['helloworld', 'python', 'java', 'C#', 'c++', 1, 2, 3]

### **`remove()`** - The `remove()` method removes the first matching element (which is passed as an argument) from the list.

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.remove("java")
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 2, 3]
list1.remove(2)
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 3]

['helloworld', 'python', 'c++', 1, 2, 3]
['helloworld', 'python', 'c++', 1, 3]

### **`pop()`** - The `pop()` method removes the item at the given index from the list and returns the removed item.

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.pop()   # pop last element
print(list1)  # ▶ ['helloworld', 'python', 'java', 'c++', 1, 2]
list1.pop(2)  # pop element with index 2
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 2]

['helloworld', 'python', 'java', 'c++', 1, 2]
['helloworld', 'python', 'c++', 1, 2]

### **`clear()`** - The `clear()` method removes all items from the list.

In [ ]:
list1 =['helloworld','python','java','c++',1,2,3]
list1.clear()
print('list1:', list1)  # ▶ list1: []

list1: []

### **`index()`** - The `index()` method returns the index of the specified element in the list.

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
print("index of java : ",list1.index('java'))  # ▶ index of java :  2
print("index of 2 : ",list1.index(2))          # ▶ index of 2 :  5

index of java :  2
index of 2 :  5

### **`count()`** - The `count()` method returns the number of times the specified element appears in the list.

In [ ]:
# Example:

list1 =[1,2,3,'a','b','c',1,2,3]

print(list1.count(1))   # ▶ 2
print(list1.count('b')) # ▶ 1
print(list1.count(4))   # ▶ 0

2
1
0

### **`sort() `** - The `sort()` method sorts the elements of a given list in a specific ascending or descending order.

In [ ]:
# Example:

list1 =[22,30,100,300,399]
list2=['z','ab','abc','a','b']
list1.sort()
list2.sort()
print(list1)  # ▶ [22, 30, 100, 300, 399]

list1.sort(reverse=True)
print(list1)  # ▶ [399, 300, 100, 30, 22]
print(list2)  # ▶ ['a', 'ab', 'abc', 'b', 'z']

[22, 30, 100, 300, 399]
[399, 300, 100, 30, 22]
['a', 'ab', 'abc', 'b', 'z']

In [ ]:
# Example:

list3=['a','b',1,2]
list3.sort()
print(list3)  # ▶ TypeError: '<' not supported between instances of 'int' and 'str'

TypeError: '<' not supported between instances of 'int' and 'str'

### **`reverse() `** - The `reverse()` method reverses the elements of the list.

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.reverse()
print(list1)  # ▶ [3, 2, 1, 'c++', 'java', 'python', 'helloworld']

[3, 2, 1, 'c++', 'java', 'python', 'helloworld']

### **`copy() `** - The `copy()` method returns a shallow copy of the list.

In [ ]:
list1 =['helloworld','python','java','c++',1,2,3]
list2 = list1.copy()
print('list1:', list1)  # ▶ list1: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
print('list2:', list2)  # ▶ list2: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]

list1: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
list2: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]

In [ ]:
pow2 = [2 ** x for x in range(10)]
print(pow2)  # ▶ [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

This code is equivalent to:

In [ ]:
pow2 = []
for x in range(10):
    pow2.append(2 ** x)
print(pow2)  # ▶ [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2  # ▶ [64, 128, 256, 512]

[64, 128, 256, 512]

In [ ]:
odd = [x for x in range(20) if x % 2 == 1]
odd  # ▶ [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

## Other List Operations in Python

### 1. List Membership Test

We can test if an item exists in a list or not, using the keyword **`in`**.

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)  # ▶ True

# Output: False
print('a' in my_list)  # ▶ False

# Output: True
print('c' not in my_list)  # ▶ True

True
False
True

### 2. Iterating Through a List

Using a for loop we can iterate through each item in a list.

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

### 3. Other List Operations in Python

Using a **`for`** loop we can iterate through each item in a list.

In [ ]:
# Example:

list1=['a','b','c',1,2,3]
for x in list1 :
    print(x)

a
b
c
1
2
3

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

# Python Tuple

In this class, you'll learn everything about Python tuples. More specifically, what are tuples, how to create them, when to use them and various methods you should be familiar with.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |✎|
| **Tuple**      | **immutable** |  |

In [ ]:
# Example:

# Different types of tuples

# Empty tuple
my_tuple1 = ()
print(my_tuple1)  # ▶ ()

# Tuple having integers
my_tuple2 = (1, 2, 3)
print(my_tuple2)  # ▶ (1, 2, 3)

# tuple with mixed datatypes
my_tuple3 = (1, "Hello", 3.4)
print(my_tuple3)  # ▶ (1, "Hello", 3.4)

# nested tuple
my_tuple4 = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple4)  # ▶ ("mouse", [8, 4, 6], (1, 2, 3))
len(my_tuple4)    # ▶ 3

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

3

A tuple can also be created without using parentheses. This is known as tuple packing.

In [ ]:
# Example:

my_tuple = 3, 4.6, "dog"   # ∵ paranthesis () is not mandatory
print(my_tuple)  # ▶ (3, 4.6, 'dog')

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)        # ▶ 3
print(b)        # ▶ 4.6
print(c)        # ▶ dog

(3, 4.6, 'dog')
3
4.6
dog

In [ ]:
# Example:

t1 = ('a b', 1, 2, 3.14, "HelloWorld")
t2 = "a", "b", "c", "d"

#tuple contain other list and tuple
t3 =(1, 2, 3, ['a','b','c'], ('z', 26))

print(t1)  # ▶ ('a b', 1, 2, 3.14, 'HelloWorld')
print(t2)  # ▶ ('a', 'b', 'c', 'd')
print(t3)  # ▶ (1, 2, 3, ['a', 'b', 'c'], ('z', 26))

('a b', 1, 2, 3.14, 'HelloWorld')
('a', 'b', 'c', 'd')
(1, 2, 3, ['a', 'b', 'c'], ('z', 26))

Creating a tuple with one element is a bit tricky.

Having one element within parentheses **`()`** is not enough. We must need a trailing comma **`,`** to indicate that it is, in fact, a tuple.

In [ ]:
# Example:

t1 = 5  # without () and comma ","
print(t1)       # ▶ 5
print(type(t1)) # ▶ <class 'int'>

t2 = 5, # with ","
print(t2)       # ▶ (5,)
print(type(t2)) # ▶ <class 'tuple'>

t3 = (5) # without ","  That means () is not important, ',' is important
print(t3)       # ▶ 5
print(type(t3)) # ▶ <class 'int'>

t4 = (5,)
print(t4)       # ▶ 5
print(type(t4)) # ▶ <class 'tuple'>

5
<class 'int'>
(5,)
<class 'tuple'>
5
<class 'int'>
(5,)
<class 'tuple'>

## Access Tuple Elements

There are various ways in which we can access the elements of a tuple.

### 1. Indexing

We can use the **index operator** **`[]`** to access an item in a tuple, where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range(6,7,... in this example) will raise an **`IndexError`**.

The index must be an integer, so we cannot use float or other types. This will result in **`TypeError`**.

In [ ]:
# Accessing tuple elements using indexing

my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # ▶ 'p'
print(my_tuple[5])   # ▶ 't'

print("Last index:", len(my_tuple) - 1)             # ▶ Last index: 5
print("Last element:", my_tuple[len(my_tuple) - 1]) # ▶ Last element: t

# Index must be within range
# print(my_tuple[6]) # ▶ IndexError: list index out of range

# Index must be an integer
# my_tuple[2.0] # ▶ TypeError: tuple indices must be integers or slices, not float

p
t
Last index: 5
Last element: t

In [ ]:
# Example:

n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[2][0])  # ▶ 1  ∵ element with index 2 and within sub-element with index 0
print(n_tuple[0][3])  # ▶ s  ∵ element with index 0 and within sub-element with index 3

1
s

In [ ]:
# Example:

t=("helloworld",'xyz',1,-2,3.6)
for x in t:
    print(x)

helloworld
xyz
1
-2
3.6

### 2. Negative Indexing

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
# Example: Negative indexing for accessing tuple elements

my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

print(my_tuple[-1])   # ▶ t
print(my_tuple[-6])   # ▶ p

t
p

<div>
<img src="img/t5.png" width="300"/>
</div>

In [ ]:
# Example:

t=(3,7,4,2)

print(t[2])           # ▶ 4
print(t[1:3])         # ▶ (7, 4)
print(t[-3])          # ▶ 7
print(t[-4:-2])       # ▶ (3, 7)
print(t[-1 :  : -1])  # ▶ (2, 4, 7, 3) ∵ start from -1 and step =-1 so its basicly return reverse tuple

4
(7, 4)
7
(3, 7)
(2, 4, 7, 3)

### 3. Slicing

We can access a range of items in a tuple by using the slicing operator **`:`**(colon).

**Syntax:**

```python
tuple[start : stop : step]
```
by default step is +1

In [ ]:
# Example: Accessing tuple elements using slicing

my_tuple = ('p','r','o','g','r','a','m','i','n','g')

# elements 2nd to 4th
print(my_tuple[1:4])   # ▶ ('r', 'o', 'g')

# elements beginning to 2nd
print(my_tuple[:-7])   # ▶ ('p', 'r')

# elements 8th to end
print(my_tuple[7:])    # ▶ ('i', 'z')

# elements beginning to end
print(my_tuple[:])     # ▶ ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n','g')

('r', 'o', 'g')
('p', 'r', 'o')
('i', 'n', 'g')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

Slicing can be best visualized by considering the index to be between the elements as shown below. So if we want to access a range, we need the index that will slice the portion from the tuple.

<div>
<img src="img/t6.png" width="300"/>
</div>

## Tuple Operations

### 1. Changing a Tuple

Unlike lists, **tuples are immutable**.

This means that elements of a tuple cannot be changed once they have been assigned. But, if the element is itself a mutable data type like a list, its nested items can be changed.

We can also assign a tuple to different values (reassignment).

In [ ]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

# my_tuple[1] = 9     # ▶ TypeError: 'tuple' object does not support item assignment

# However, item of mutable element can be changed
my_tuple[3][0] = 9
print(my_tuple)  # ▶ (4, 2, 3, [9, 5])

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')
print(my_tuple)  # ▶ ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', ''n', 'g')

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

We can use **`+`** operator to combine two tuples. This is called **concatenation**.

We can also repeat the elements in a tuple for a given number of times using the **`*`** operator.

Both **`+`** and **`*`** operations result in a new tuple.

In [ ]:
# Example 1:

# Concatenation
print((1, 2, 3) + (4, 5, 6))  # ▶ (1, 2, 3, 4, 5, 6)

# Repeat
print(("Repeat",) * 3)       # ▶ ('Repeat', 'Repeat', 'Repeat')

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [ ]:
# Example 2:

t1=(1,2,3)
t2=('x','y','z')
t3=t1+t2
print(t3)   # ▶ (1, 2, 3, 'x', 'y', 'z')
print(t1*2) # ▶ (1, 2, 3, 1, 2, 3)
print(t2*3) # ▶ ('x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z')

(1, 2, 3, 'x', 'y', 'z')
(1, 2, 3, 1, 2, 3)
('x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z')

In [ ]:
# Example 3:

t1 = (1, 2,3)
t2 = ('abc', 'xyz')

# Following action is not valid for tuples
# t1[0] = 4;
# So let's create a new tuple as follows
t3 = t1 + t2 + ("hey",)  # ∵ () is must when adding or multiply tuples
print (t3)               # ▶ (1, 2, 3, 'abc', 'xyz', 'hey')

(1, 2, 3, 'abc', 'xyz', 'hey')

In [ ]:
# Example 1: Deleting tuples

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

# can't delete items
del my_tuple[3]  # ▶ TypeError: 'tuple' object doesn't support item deletion

# Can delete an entire tuple
# del my_tuple
# print(my_tuple)   # ▶ NameError: name 'my_tuple' is not defined

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# Example 2:

t = ('helloWorld', "python", 1, 2.7);
print (t)          # ▶ ('helloWorld', 'python', 1, 2.7)

# can't delete items
del my_tuple[3]  # ▶ TypeError: 'tuple' object doesn't support item deletion

del t
# print ("After deleting t :")  # ▶ After deleting t :
# print (t)                     # ▶ NameError: name 't' is not defined

('helloWorld', 'python', 1, 2.7)

TypeError: 'tuple' object doesn't support item deletion

### **`len(tuple)`** - The `len()` method returns the number of elements in the tuple.

In [ ]:
# Example:

t1= (1,2,3,4,5)
t2 = ('x','y','z',[1,2],3)
print(len(t1))  # ▶ 5
print(len(t2))  # ▶ 5

5
5

### **`max(tuple)`** - The `max()` method returns the elements from the tuple with maximum value. Type of element should be same otherwise complier throw `TypeError`.

In [ ]:
# Example:

t1= (1,2,3,4,5)
t2 = ('x','y','z')
print(max(t1))  # ▶ 5
print(max(t2))  # ▶ z

5
z

### **`min(tuple)`** - The `min()` method returns the elements from the tuple with minimum value. Type of element should be same otherwise complier throw `TypeError`.

In [ ]:
# Example:

t1= (1,2,3,4,5)
t2 = ('x','y','z')
print(min(t1))  # ▶ 1
print(min(t2))  # ▶ x

1
x

### **`sorted(dict)`** - The `sorted()` function sorts the elements of a given iterable in a specific order (either **ascending** or **descending**) and returns the sorted iterable as a list.

In [ ]:
# vowels tuple
py_tuple = ('e', 'a', 'u', 'o', 'i')
print(sorted(py_tuple))                # ▶ ['a', 'e', 'i', 'o', 'u']
print(sorted(py_tuple, reverse=True))  # ▶ ['u', 'o', 'i', 'e', 'a']

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

### **`tuple(seq)`** - The `tuple()` method converts a list of items into tuples.

In [ ]:
# Example:

s="helloworld"
t1=tuple(s)
list=[1,2,3]
t2=tuple(list)

print(t1)  # ▶ ('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')
print(t2)  # ▶ (1, 2, 3)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')
(1, 2, 3)

## Tuple Methods

Methods that add items or remove items are not available with tuple. Only the following two methods are available.

Some examples of Python tuple methods:

In [ ]:
# Example:

my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))   # ▶  2
print(my_tuple.index('l'))   # ▶  3

2
3

## Other Tuple Operations

### 1. Tuple Membership Test

We can test if an item exists in a tuple or not, using the keyword **`in`**.

In [ ]:
# Example: Membership test in tuple

my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)      # ▶ True
print('b' in my_tuple)      # ▶ False

# Not in operation
print('g' not in my_tuple)  # ▶ True

True
False
True

### 2. Iterating Through a Tuple

We can use a **`for`** loop to iterate through each item in a tuple.

In [ ]:
# Example: Using a for loop to iterate through a tuple

for name in ('John', 'Kate'):
    print("Hello", name)

Hello John
Hello Kate

## Why should we use Tuple? (Advantages of Tuple)

* Processing of Tuples are **faster** than Lists.
* It makes the data **safe** as Tuples are **immutable** and hence cannot be changed.
* Tuples are used for **string formatting**.

## Advantages of Tuple over List

Since tuples are quite similar to lists, both of them are used in similar situations. However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

* We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.

* Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.

* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.

* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

## 💻 Exercises ➞ <span class='label label-default'>Tuple</span>

### Exercises ➞ <span class='label label-default'>Level 1</span>

1. Create a tuple containing names of **`fruits`** and **`vegetables`**
2. Join **`fruits`** and **`vegetables`** tuples and assign it to **`fruits_vegetables`**
3. How many **`fruits_vegetables`** do you have?
4. Modify the **`fruits_vegetables`** tuple and add the name of your favorite mushroom and beverage and assign it to **`food_tuple`**

### Exercises ➞ <span class='label label-default'>Level 2</span>

1. Unpack **`fruits_vegetables`** and mushroom and beverage from **`food_tuple`**
2. Change the about **`food_tuple`** tuple to a **`food_list`** list
3. Slice out the middle item or items from the **`food_tuple`** tuple or **`food_list`** list.
4. Slice out the first three items and the last three items from **`food_list`** list
5. Delete the **`food_tuple`** tuple completely
6. Check if an item exists in tuple:
    - Check if **`'Finland'`** is a asian country
    - Check if **`'India'`** is a asian country
    ```python
asian_countries = ('India','China','Singapore','Thailand','Indonesia')
    ```

# Python Dictionary

In this class, you'll learn everything about Python dictionaries; how they are created, accessing, adding, removing elements from them and various built-in methods.

## What is Dictionary in Python?

Python dictionary is an unordered collection of items. Each item of a dictionary has a **`key/value`** pair.

Dictionaries are optimized to retrieve values when the key is known.

<div>
<img src="img/d0.png" width="600"/>
</div>

**Example:**

```python
>>> dict = { }  #empty dictionary
>>> dict = {1:'Python',2:'Java',3:'C++'}
```

* **Dictionary is mutable** i.e., value can be updated.

* Key must be unique and immutable. Value is accessed by key. Value can be updated while key cannot be changed.

* Dictionary is known as Associative array since the Key works as Index and they are decided by the user.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |✎|
| **Tuple**      | **immutable** |  |
| **Dictionary** | **mutable**   |✎|

In [ ]:
# Example: empty dictionary

d = {}; l = []; t = (); s = set(); st = ""
print(d,l,t,s,st)     # ▶ {} [] () set()
print(type(d),type(l),type(t), type(s), type(st))
# ▶ <class 'dict'> <class 'list'> <class 'tuple'> <class 'set'> <class 'str'>

# dictionary with integer keys
my_dict1 = {1: 'apple', 2: 'ball'}
print(my_dict1)        # ▶ {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict2 = {1:"hi", "name":666, 1.5:("yes","very much"), 9: [3, 6, 9]}
print(my_dict2)        # ▶ {1: 'hi', 'name': 666, 1.5: ('yes', 'very much'), 9: [3, 6, 9]}

# from sequence having each item as a pair
my_dict3 = dict([(1,'apple'), (2,'ball')])
print(type([(1,'apple'), (2,'ball')])) # nested list
print(my_dict3)        # ▶ {1: 'apple', 2: 'ball'}
print(len(my_dict3))   # ▶ 2

{} [] () set()
<class 'dict'> <class 'list'> <class 'tuple'> <class 'set'> <class 'str'>
{1: 'apple', 2: 'ball'}
{1: 'hi', 'name': 666, 1.5: ('yes', 'very much'), 9: [3, 6, 9]}

TypeError: 'dict' object is not callable

In [ ]:
dict([(1, 100), ('bar', 200)]), dict(foo=100, bar=200)

TypeError: 'dict' object is not callable

As you can see from above, we can also create a dictionary using the built-in **`dict()`** function.

## Accessing Elements from Dictionary

While indexing is used with other data types to access values, a dictionary uses **`keys`**. Keys can be used either inside square brackets **`[]`** or with the **`get()`** method.

If we use the square brackets **`[]`**, **`KeyError`** is raised in case a key is not found in the dictionary. On the other hand, the **`get()`** method returns **`None`** if the key is not found.

In [ ]:
# Example: get vs [] for retrieving elements

my_dict = {1:'Python', 2:'Java', 3:'C++', 'c': 'Gods language'}

# method: 1
print(my_dict[1])         # ▶ Python

# method: 2
print(my_dict.get('c'))   # ▶ Gods language

# Trying to access keys which doesn't exist in dictionary:
print(my_dict.get(4))     # ▶ None

print(my_dict[4])         # ▶ KeyError!

Python
Gods language
None

KeyError: 4

* iterate all elemnet using for loop for **`keys()`** method, **`keys()`** method return list of all keys in dictionary.

In [ ]:
# Example:

dict = {1:'Python', 2:'Java', 3:'C++', 'c': 'Gods language'}
print(dict.keys())
for x in dict.keys():
    print(dict[x])

dict_keys([1, 2, 3, 'c'])
Python
Java
C++
Gods language

## Changing and Adding Dictionary elements

Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator.

If the key is already present, then the existing value gets updated. In case the key is not present, a new **`(key: value)`** pair is added to the dictionary.

In [ ]:
# Example 1: Changing and adding Dictionary Elements

my_dict = {'name':'Arthur', 'age':24}

my_dict['age'] = 25   # update value
print(my_dict)        # ▶ {'age': 25, 'name': 'Arthur'}

my_dict['address'] = 'Downtown'  # add item
print(my_dict)        # ▶ {'name': 'Arthur', 'age': 25, 'address': 'Downtown'}

{'name': 'Arthur', 'age': 25}
{'name': 'Arthur', 'age': 25, 'address': 'Downtown'}

In [ ]:
# Example 2:

my_dict = {1:'Python', 2:'Java', 3:'C++'}
my_dict[3]="R"     # update value
my_dict[4]="PHP"   # insert new value
print(my_dict)     # ▶ {1: 'Python', 2: 'Java', 3: 'R', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'R', 4: 'PHP'}

## Removing elements from Dictionary

We can remove a particular item in a dictionary by using the **`pop()`** method. This method removes an item with the provided **`key`** and returns the **`value`**.

The **`popitem()`** method can be used to remove and return an arbitrary **`(key, value)`** item pair from the dictionary. All the items can be removed at once, using the **`clear()`** method.

We can also use the **`del`** keyword to remove individual items or the entire dictionary itself.

In [ ]:
# Example: Removing elements from a dictionary


squares = {1:1, 2:4, 3:9, 4:16, 5:25}   # create a dictionary

# remove a particular item, returns its value
print(squares.pop(4))    # ▶ 16
print(squares)           # ▶ {1: 1, 2: 4, 3: 9, 5: 25}

# remove an arbitrary item, return (key,value)
print(squares.popitem()) # ▶ (5, 25)
print(squares)           # ▶ {1: 1, 2: 4, 3: 9}

squares.clear()          # remove all items
print(squares)           # ▶ {}

del squares              # delete the dictionary itself
print(squares)           # ▶ NameError!!!

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'squares' is not defined

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
del my_dict[3]    # ▶ {1: 'Python', 2: 'Java', 4: 'PHP'} ∵ remove entry with key '3'
print(my_dict)    # ▶ {}

my_dict.clear()   # remove all entries in dict
print("my_dict : ",my_dict)  # ▶ my_dict :  {}

del my_dict       # delete entire dictionary
print(my_dict[2]) # ▶ NameError!!!

{1: 'Python', 2: 'Java', 4: 'PHP'}
my_dict :  {}

NameError: name 'my_dict' is not defined

## Dictionary Built-in Dictionary Functions

Built-in functions like **`all()`**, **`any()`**, **`len()`**, **`cmp()`**, **`sorted()`**, **`str()`**, **`typ()`**, etc. are commonly used with dictionaries to perform different tasks.

Here are some examples that use built-in functions to work with a dictionary.

In [ ]:
# Example: Dictionary Built-in Functions

# all will give True if all "Key" is "True". 0 is also consider as False

squares = {0:0, 1:1, 3:9, 5:25, 7:49, 9:81}

print(all(squares))     # ▶ False
print(any(squares))     # ▶ True
print(len(squares))     # ▶ 6
print(sorted(squares))  # ▶ [0, 1, 3, 5, 7, 9]

False
True
6
[0, 1, 3, 5, 7, 9]

### `all(dict)` - The `all()` function returns True when all elements in the given iterable are true. If not, it returns False.

In case of dictionaries, if all keys (not values) are true or the dictionary is empty, **`all()`** returns **`True`**. Else, it returns **`false`** for all other cases.

In [ ]:
# Example 1: How all() works with Python dictionaries?
# In case of dictionaries, if all keys (not values) are true or the dictionary is empty,
# all() returns True. Else, it returns false for all other cases.

my_dict = {0:'False', 1:'False'}
print(all(my_dict))   # ▶ False

my_dict = {1:'True', 2:'True'}
print(all(my_dict))   # ▶ True

my_dict = {1:'True', False:0}
print(all(my_dict))   # ▶ False

my_dict = {}
print(all(my_dict))   # ▶ True

# 0 is False
# '0' is True
my_dict = {'0':'True'}
print(all(my_dict))   # ▶ True

False
True
False
True
True

### `any(dict)` - The `any()` function returns True if any element of an iterable is True. If not, any() returns False.

In the case of dictionaries, if all keys (not values) are false or the dictionary is empty, **`any()`** returns **`False`**. If at least one key is true, **`any()`** returns **`True`**.

In [ ]:
# Example 1: How any() works with Python dictionaries?

my_dict = {0:'False'}
print(any(my_dict))                # ▶ False ∵ 0 is False

my_dict = {0:'False', 1:'True'}
print(any(my_dict))                # ▶ True ∵ 1 is True

my_dict = {0:'False', False:0}
print(any(my_dict))                # ▶ False ∵ both 0 and False are False

my_dict = {}
print(any(my_dict))                # ▶ False ∵ iterable is empty

# 0 is False
# '0' is True
my_dict = {'0':'False'}
print(any(my_dict))                # ▶ True

False
True
False
False
True

### **`len(dict)`** - The `len()` function gives the total length of the dictionary. This would be equal to the number of items in the dictionary.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(len(my_dict))  # ▶ 4

4

### **`sorted(dict)`** - The `sorted()` function sorts the elements of a given iterable in a specific order (either **ascending** or **descending**) and returns the sorted iterable as a list.

In [ ]:
# Example:

my_dict = {'e':1, 'a':2, 'u':3, 'o':4, 'i':5}
print(sorted(my_dict))               # ▶ ['a', 'e', 'i', 'o', 'u']
print(sorted(my_dict, reverse=True)) # ▶ ['u', 'o', 'i', 'e', 'a']

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

### **`str(dict)`** - The `str()` function produces a printable string representation of a dictionary.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(str(my_dict)) # ▶ {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

### **`type()`** - The `type()` function returns the type of the passed variable. If passed variable is dictionary then it would return a dictionary type.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(type(my_dict))  # ▶ <class 'dict'>

<class 'dict'>

Here are a few example use cases of these methods.

In [ ]:
# Example: Dictionary Methods

marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)                        # ▶ {'English': 0, 'Math': 0, 'Science': 0}

for item in marks.items():
    print(item)

print(list(sorted(marks.keys())))   # ▶ ['English', 'Math', 'Science']

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

### **`clear()`** - The method `clear()` removes all items from the dictionary.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}

print(str(my_dict))  # ▶ {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}
dict.clear()
print(str(my_dict))  # ▶ {}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}
{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

### **`copy()`** - The method `copy()` returns a shallow copy of the dictionary.

In [ ]:
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
dict2 = dict1.copy()
print(dict2)  # ▶ {1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

### **`itmes()`** - The method `items()` returns a list of dict's (key, value) tuple pairs.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
print(my_dict.items()) # ▶ dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

### **`keys()`** - The method `keys()` returns a list of all the available keys in the dictionary.

In [ ]:
# Example:

my_dict = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
all_keys=my_dict.keys()
print(all_keys)  # ▶ dict_keys([1, 2, 3, 4])

dict_keys([1, 2, 3, 4])

### **`fromkeys()`** - The method `fromkeys()` creates a new dictionary with keys from seq and values set to value.

**Syntax:**

```python
dict.fromkeys(seq[, value])
```

In [ ]:
# Example:

seq = ('Python', 'Java', 'C++')
my_dict = my_dict.fromkeys(seq)

print ("new_dict : %s" % str(my_dict)) # ▶ new_dict : {'python': None, 'java': None, 'c++': None}
my_dict = my_dict.fromkeys(seq, 50)
print ("new_dict : %s" % str(my_dict)) # ▶ new_dict : {'python': 50, 'java': 50, 'c++': 50}

new_dict : {'Python': None, 'Java': None, 'C++': None}
new_dict : {'Python': 50, 'Java': 50, 'C++': 50}

### **`setdefault()`** - The method `setdefault()` is similar to `get` but will set `dict[key] = default` if key is not already in dict.

**Syntax:**

```python
dict.setdefault(key, default = None)
```

* key −> This is the key to be searched.
* default −> This is the Value to be returned in case key is not found.

In [ ]:
# Example:

my_dict={'emp_name':'Milaan', 'age':96, 'emp_id':999}
my_dict.setdefault('company','JLUFE')
print(my_dict['emp_name'])   # ▶ Milaan
print(my_dict['company'])    # ▶ JLUFE

Milaan
JLUFE

### **`update()`** - The method `update()` adds dictionary dict2's key-values pairs in to dict. This function does not return anything.

**Syntax:**

```python
dict.update(dict2)
```

In [ ]:
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
dict2 = {1: 'Python3',5:'C'}  # update Python to Python3
dict1.update(dict2)
print(dict1)   # ▶ {1: 'Python3', 2: 'Java', 3: 'C++', 4: 'PHP', 5: 'C'}

{1: 'Python3', 2: 'Java', 3: 'C++', 4: 'PHP', 5: 'C'}

### **`value()`** - The method `values()` returns a list of all the values available in a given dictionary.

In [ ]:
# Example:

dict1 = {1:'Python', 2:'Java', 3:'C++', 4:'PHP'}
values= dict1.values()
print(values)  # ▶ dict_values(['Python', 'Java', 'C++', 'PHP'])

dict_values(['Python', 'Java', 'C++', 'PHP'])

## Python Dictionary Comprehension

Dictionary comprehension is an elegant and concise way to create a new dictionary from an iterable in Python.

Dictionary comprehension consists of an expression pair **`(key: value)`** followed by a **`for`** statement inside curly braces **`{}`**.

Here is an example to make a dictionary with each item being a pair of a number and its square.

In [ ]:
# Example: Dictionary Comprehension

squares = {x: x*x for x in range(6)}
print(squares)  # ▶ {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

This code is equivalent to

In [ ]:
# Example:

squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)  # ▶ {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Example: Dictionary Comprehension with if conditional

odd_squares = {x: x*x for x in range(11) if x % 2 == 1}
print(odd_squares)  # ▶ {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

## Other Dictionary Operations

### 1. Dictionary Membership Test

We can test if a **`key`** is in a dictionary or not using the keyword **`in`**. Notice that the membership test is only for the **`keys`** and not for the **`values`**.

In [ ]:
# Example: Membership Test for Dictionary Keys

squares = {1: 1, 3: 9, 5: 25, 7: 99, 9: 61}

print(1 in squares)      # ▶ True

print(2 not in squares)  # ▶ True

# membership tests for key only not value
print(99 in squares)     # ▶ False

True
True
False

### 2. Iterating Through a Dictionary

We can iterate through each key in a dictionary using a **`for`** loop.

In [ ]:
# Example: Iterating through a Dictionary

squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

## 💻 Exercises ➞ <span class='label label-default'>Dictionary</span>

1. Create an empty dictionary called **`bird`**
2. Add **`name`**, **`color`**, **`breed`**, **`legs`**, **`age`** to the **`bird`** dictionary
3. Create a **`student`** dictionary and add **`first_name`**, **`last_name`**, **`gender`**, **`age`**, **`marital_status`**, **`skills`**, **`country`**, **`city`** and **`address`** as keys for the dictionary
3. Get the length of the **`student`** dictionary
4. Get the value of **`skills`** and check the data type, it should be a list
5. Modify the **`skills`** values by adding one or two skills
6. Get the dictionary keys as a list
7. Get the dictionary values as a list
8. Change the dictionary to a list of tuples using **`items()`** method
9. Delete one of the items in the dictionary
10. Delete one of the dictionaries

# Python Sets

In this class, you'll learn everything about Python sets; how they are created, adding or removing elements from them, and all operations performed on sets in Python.

## What is Set in Python?

A set is an **unordered collection of items**. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a **set itself is mutable. We can add or remove items from it**.

Sets can also be used to perform mathematical set operations like **union**, **intersection**, **symmetric difference**, etc.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |✎|
| **Tuple**      | **immutable** |  |
| **Dictionary** | **mutable**   |✎|
| **Set**        | **immutable** |  |

## How Are Sets Better Than Other DataTypes?

Sets **will not contain multiple occurrences of the same element**, they are very useful in removing duplicate elements from a list or a tuple. Also, they are useful in computing mathematical notations such as union, intersection, etc.

In [ ]:
# Example 1: Different types of sets in Python

# set of integers
my_set = {5, 7, 1, 2, 3}
print(my_set)           # ▶ {1, 2, 3, 5, 7}

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)           # ▶ {1.0, 'Hello', (1, 2, 3)}

{1, 2, 3, 5, 7}
{1.0, (1, 2, 3), 'Hello'}

In [ ]:
# Example 2: Different types of sets in Python

# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)             # ▶ {1, 2, 3, 4}

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)             # ▶ {1, 2, 3}

# set can have immutable items
# here (3, 4) is a immutable list

my_set = {1, 2, (3, 4)}
print(my_set)            # ▶ {1, 2, (3, 4)} ∵ tuple is immutable

# set cannot have mutable items
# here [3, 4] is a mutable list

my_set = {1, 2, [3, 4]}  # this will cause an error ∵ list is mutable

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, (3, 4)}

TypeError: unhashable type: 'list'

#### Creating an empty set is a bit tricky.

Empty curly braces **`{}`** will make an empty dictionary in Python. To make a set without any elements, we use the **`set()`** function without any argument.

In [ ]:
# Example: Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))  # ▶ <class 'dict'> ∵ dict also use {}

# initialize a with set()
a = set()

# check data type of a
print(type(a)) # ▶ <class 'set'>

<class 'dict'>
<class 'set'>

In [ ]:
# Example:

# initialize my_set
my_set = {1, 3}
print(my_set)      # ▶ {1, 3}

# my_set[0]
# if you uncomment above line, you will get an error
# TypeError: 'set' object does not support indexing

# add an element
my_set.add(2)
print(my_set)     # ▶ {1, 2, 3}

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)     # ▶ {1, 2, 3, 4}

# add list and set
my_set.update([1,7],(8,9,10),{1,5,9,10})
print(my_set)     # ▶ {1, 2, 3, 4, 5, 7, 8, 9, 10}

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7, 8, 9, 10}

## Removing elements from a set

A particular item can be removed from a set using the methods **`discard()`** and **`remove()`**.

The only difference between the two is that the **`discard()`** function leaves a set unchanged if the element is not present in the set. On the other hand, the **`remove()`** function will raise an error in such a condition (if element is not present in the set).

The following example will illustrate this.

In [ ]:
# Example: Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)     # ▶ {1, 3, 4, 5, 6}

# discard an element
my_set.discard(4)
print(my_set)     # ▶ {1, 3, 5, 6}

# remove an element
my_set.remove(6)
print(my_set)     # ▶ {1, 3, 5}

# discard an element not present in my_set
my_set.discard(2)
print(my_set)     # ▶ {1, 3, 5} NO ERROR!

# remove an element not present in my_set you will get an error.
my_set.remove(2)  # ▶ KeyError!!!

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

Similarly, we can remove and return an item using the **`pop()`** method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the **`clear()`** method.

In [ ]:
# Example:

# initialize my_set
my_set = set("HelloWorld")
print(my_set)        # ▶ unorderd set of unique elements

# pop an element
print(my_set.pop())  # ▶ removes a random element

# pop another element
my_set.pop()
print(my_set)

# clear my_set
my_set.clear()
print(my_set)        # ▶ set()

{'W', 'H', 'r', 'd', 'e', 'o', 'l'}
W
{'r', 'd', 'e', 'o', 'l'}
set()

## Python Set Operations

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

Let us consider the following two sets for the following operations.

```python
>>> A = {1, 2, 3, 4, 5}
>>> B = {4, 5, 6, 7, 8}
```

### Set Union

<div>
<img src="img/set1.png" width="300"/>
</div>

Union of **`A`** and **`B`** is a set of all elements from both sets.

Union is performed using **`|`** operator. Same can be accomplished using the **`union()`** method.

In [ ]:
# Example 1:

# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
print(A | B)      # ▶ {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Example 2:

# use union function
A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection

<div>
<img src="img/set2.png" width="300"/>
</div>

Intersection of **`A`** and **`B`** is a set of elements that are common in both the sets.

Intersection is performed using **`&`** operator. Same can be accomplished using the **`intersection()`** method.

In [ ]:
# Example 1:

# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
print(A & B)     # ▶ {4, 5}

{4, 5}

In [ ]:
# Example 2:

# use intersection function on A
A.intersection(B) # ▶ {4, 5}

# use intersection function on B
B.intersection(A) # ▶ {4, 5}

{4, 5}

### Set Difference

<div>
<img src="img/set3.png" width="300"/>
</div>

Difference of the set **`B`** from set **`A`**, **`(A - B)`** is a set of elements that are only in A but not in **`B`**. Similarly, **`B - A`** is a set of elements in **`B`** but not in **`A`**.

Difference is performed using **`-`** operator. Same can be accomplished using the **`difference()`** method.

In [ ]:
# Example 1:

# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
print(A - B)    # ▶ {1, 2, 3}
print(B - A)    # ▶ {8, 6, 7}

{1, 2, 3}
{8, 6, 7}

In [ ]:
# Example 2:

# use difference function on A
A.difference(B) # ▶ {1, 2, 3}

# use difference function on B
B.difference(A) # ▶ {6, 7, 8}

{6, 7, 8}

### Set Symmetric Difference

<div>
<img src="img/set4.png" width="300"/>
</div>

Symmetric Difference of **`A`** and **`B`** is a set of elements in **`A`** and **`B`** but not in both (excluding the intersection).

Symmetric difference is performed using **`^`** operator. Same can be accomplished using the method **`symmetric_difference()`**.

In [ ]:
# Example 1:

# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
print(A ^ B)    # ▶ {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

In [ ]:
# Example 2:

# use symmetric_difference function on A
A.symmetric_difference(B)  # ▶ {1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
B.symmetric_difference(A)  # ▶ {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

## Other Set Operations

### 1. Set Membership Test

We can test if an item exists in a set or not, using the **`in`** keyword.

In [ ]:
# Example:

# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
print('a' in my_set)      # ▶ True

# check if 'p' is present
print('p' not in my_set)  # ▶ False

True
False

### 2. Iterating Through a Set

We can iterate through each item in a set using a **`for`** loop.

In [ ]:
for letter in set("apple"):
    print(letter)  # ▶ ∵ unorderd set of unique elements

p
a
e
l

In [ ]:
# Example:

# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [ ]:
A.isdisjoint(B) # ▶ False ∵ they have common intersection points

False

In [ ]:
A.difference(B) # ▶ frozenset({1, 2})

frozenset({1, 2})

In [ ]:
A | B           # ▶ frozenset({1, 2, 3, 4, 5, 6})

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
A.add(3)        # ▶ Error!

AttributeError: 'frozenset' object has no attribute 'add'

### Frozenset methods

This data type supports methods like **`copy()`**, **`union()`**, **`intersection()`**, **`difference()`**, and **`symmetric_difference()`**. Being immutable, it does not have methods that add or remove elements.

In [ ]:
# Example 1: Frozensets

# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

# copying a frozenset
C = A.copy()                     # ▶ frozenset({1, 2, 3, 4})
print(C)

# union
print(A.union(B))                # ▶ frozenset({1, 2, 3, 4, 5, 6})

# intersection
print(A.intersection(B))         # ▶ frozenset({3, 4})

# difference
print(A.difference(B))           # ▶ frozenset({1, 2})

# symmetric_difference
print(A.symmetric_difference(B)) # ▶ frozenset({1, 2, 5, 6})

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

### Other Frozenset methods

Similarly, other set methods like **`isdisjoint()`**, **`issubset()`**, and **`issuperset()`** are also available.

In [ ]:
# Example 2: Frozensets

# initialize A, B and C
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
C = frozenset([5, 6])

# isdisjoint() method
print(A.isdisjoint(C))  # ▶ True

# issubset() method
print(C.issubset(B))    # ▶ True

# issuperset() method
print(B.issuperset(C))  # ▶ True

True
True
True

## 💻 Exercises ➞ <span class='label label-default'>Sets</span>

```py
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
num = [22, 19, 24, 25, 26, 24, 25, 24]
```

### Exercises ➞ <span class='label label-default'>Level 1</span>

1. Find the length of the set **`mix_fruits`**
2. Add **`'Kiwi'`** to **`mix_fruits`**
3. Insert multiple fruits at once to the set **`mix_fruits`**
4. Remove one of the fruit from the set **`mix_fruits`**
5. What is the difference between **remove** and **discard**


### Exercises ➞ <span class='label label-default'>Level 2</span>
Use Imaginary values for Set **`A`** and **`B`**

1. Join **`A`** and **`B`**
2. Find **`A`** intersection **`B`**
3. Is **`A`** subset of **`B`**
4. Are **`A`** and **`B`** disjoint sets
5. Join **`A`** with **`B`** and **`B`** with **`A`**
6. What is the symmetric difference between A and **`B`**
7. Delete the sets completely


### Exercises ➞ <span class='label label-default'>Level 3</span>

1. Convert the **`num`** to a set and compare the length of the list and the set, which one is bigger?
2. Explain the difference between the following data types: **string**, **list**, **tuple** and **set**
3. **`I am a researcher cum teacher and I love to inspire and teach people.`**. How many unique words have been used in the sentence? Use the **`split()`** methods and set to get the unique words.