# What is programming?

Feel free to **[skip this part](#howto)** if you already know everything it's talking about.

As a computer user you know that computers don't have feelings. They don't work any faster or slower depending on if we're angry at them or if we're happy. Computers can perform millions of calculations per second, but they require us to tell them exactly what to do. If they do something else than we want them to do the problem is usually that they don't understand our instructions the way we understand them.

The only big difference between programming and what you're familiar with already is that instead of clicking buttons to do things we write the instructions using a **programming language**. Most programming languages consist of English words, digits and some characters that have special meanings.

Unlike people often think, programming is usually not complicated. Large programs are always made of small, simple pieces, and those pieces are written one by one. Programming languages are made to be used by humans, so if there's an easy way to do something and a difficult way to do something, you should use the easier way.

## What do I need?

First of all, you don't need to be good at math. Some programmers are good at math, some are not. Programming and math are two separate things and being good or bad at one doesn't mean you are automatically good or bad at the other.

You also don't need a powerful computer. I could do almost all of my programming on a 12-year-old computer if I needed to. Fast computers are nice to work with, but you don't need them.

Programming takes time like all hobbies do. Some people learn it quickly, and some people don't. I don't expect you to read this tutorial in a couple hours and then master everything it's talking about. Take your time with things, and remember that I learned to program slowly.

## Getting started

This tutorial uses a programming language called Python because it's easy to learn and we can do many different things with it. For example, we can create our own applications that have buttons that people can click instead of just using applications written by others.

In this tutorial we need to know how to type these characters. We'll learn their meanings later.

| Character | Names |
|:---: |:--- |
| **`+`** | **plus** |
| **`-`** | **minus, dash** |
| **`_`** | **underscore** |
| **`*`** | **star, asterisk** |
| **`/`** | **forwardslash (it's leaning forward)** |
| **`\`** | **backslash (it's leaning back)** |
| **`=`** | **equals sign** |
| **`%`** | **percent sign** |
| **`.`** | **dot** |
| **`,`** | **comma** |
| **`:`** | **colon** |
| **`;`** | **semi-colon** |
| **`?`** | **question mark** |
| **`!`** | **exclamation mark** |
| **`< >`** | **less-than and greater-than signs** |
| **`' "`** | **single quote and double quote** |
| **`#`** | **hashtag** |
| **`()`** | **parentheses** |
| **`[]`** | **square brackets, brackets** |
| **`{}`** | **curly braces, braces, curly brackets** |

That may seem like many characters, but you probably know many of them already so it shouldn't be a problem.

<a id="howto"></a>
## How to read this tutorial

I've done my best to make this tutorial as easy to follow as possible.

1. Try the example code yourself.
2. Read the code and the explanation for it again.
3. If there's something you haven't seen before in the tutorial and it's not explained, try to find it in the previous chapters.
4. If you can't find what you're looking for or you still have trouble understanding the tutorial or any other problems with the tutorial, please tell me about it

You are free to combine this tutorial with other learning resources. If this tutorial isn't exactly what you're looking for you don't need to stick with nothing but this. You can find another tutorial and mix the tutorials however you want as long as you **make sure that you understand everything you read**.

One of the most important things with learning to program is to not fear mistakes. If you make a mistake, your computer will not break in any way. You'll get an error message that tells you what's wrong and where. Even professional programmers do mistakes and get error messages all the time, and there's nothing wrong with it.

If you want to know what some piece of code in this tutorial does just **try it and see**. It's practically impossible to break anything accidentally with the things you will learn by reading this tutorial, so you are free to try out all the examples however you want and change them to do whatever you want.

Even though a good tutorial is an important part about learning to program, you also need to learn to make your own things. Use what you have learned, and create something with it.

## But reading is boring!

This chapter is probably the most boring chapter in the whole tutorial. Other chapters contain much less text and much more code. You can also get pretty far by just reading the code, and then reading the text only if you don't understand the code.

# Python Programming

Python is a powerful multipurpose programming language created by *Guido van Rossum*.

It has a simple and easy-to-use syntax, making it a popular first-choice programming language for beginners.

This is a comprehensive guide that explores the reasons you should consider learning Python and the ways you can get started with Python.

## What is Python Programming Language?

Python is an interpreted, object-oriented, high-level programming language. As it is general-purpose, it has a wide range of applications from web development, building desktop GUI to scientific and mathematical computing.

Python is popular for its simple and relatively straightforward syntax. Its syntax readability increases productivity as it allows us to focus more on the problem rather than structuring the code.

## Features of Python Programming

### Simple and easy to learn
Python has a very simple and elegant syntax. It is much easier to read and write programs in Python compared to other languages like C, C++, or Java.

Due to this reason, many beginners are introduced to programming with Python as their first programming language.

### Free and open-source
You can freely use and distribute Python programs even for commercial use. As it is open-source, you can even change Python's source code to fit your use case.

### Portability
A single Python program can run on different platforms without any change in source code. It runs on almost all platforms including Windows, Mac OS X, and Linux.

### Extensible and Embeddable
You can combine Python code with other programming languages like C or Java to increase efficiency. This allows high performance and scripting capabilities that other languages do not provide out of the box.

### High-Level Interpreted Language
Python itself handles tasks like memory management and garbage collection. So unlike C or C++, you don't have to worry about system architecture or any other lower-level operations.

### Rich library and large community
Python has numerous reliable built-in libraries. Python programmers have developed tons of free and open-source libraries, so you don't have to code everything by yourself.

The Python community is very large and evergrowing. If you encounter errors while programming in Python, it's like that it has already been asked and solved by someone in this community.

## Reasons to Choose Python as First Language

### 1. Simple Elegant Syntax

Programming in Python is fun. It's easier to understand and write Python code. The syntax feels natural. Let's take the following example where we add two numbers:

```python
a = 2
b = 3
sum = a + b
print(sum)
```

Even if you have never programmed before, you can easily guess that this program adds two numbers and displays it.

### 2. Not overly strict

You don't need to define the type of a variable in Python. Also, it's not necessary to add a semicolon at the end of the statement.

Python enforces you to follow good practices (like proper indentation). These small things can make learning much easier for beginners.

### 3. The expressiveness of the language

Python allows you to write programs having greater functionality with fewer lines of code. Let's look at code to swap the values of two variables. It can be done in Python with the following lines of code:

```python
a = 15
b = 27
print(f'Before swapping: a, b = {a},{b}')
a, b = b, a
print(f'After swapping: a, b = {a},{b}')
```

Here, we can see that the code is very less and more readable.

If instead, we were to use Java, the same program would have to be written in the following way:

```python
public class Swap {
 public static void main(String[] args) {
   int a, b, temp;
   a = 15;
   b = 27;
   System.out.println("Before swapping : a, b = "+a+", "+ + b);
   temp = a;
   a = b;
   b = temp;   
   System.out.println("After swapping : a, b = "+a+", "+ + b);
 }
 }
```

This is just an example. There are many more such cases where Python increases efficiency by reducing the amount of code required to program something.

## Python Applications Area

Python is known for its **general purpose** nature that makes it applicable in almost each domain of software development. Python as a whole can be used in any sphere of development.


Here, we are **specifing applications** areas where python can be applied.

1. **Web Applications**
    - We can use Python to develop web applications. It provides libraries to handle internet protocols such as HTML and XML, JSON, Email processing, request, beautifulSoup, Feedparser etc. It also provides Frameworks such as Django, Pyramid, Flask etc to design and delelop web based applications. Some important developments are: PythonWikiEngines, Pocoo, PythonBlogSoftware etc.

2. **AI & Machine Learning**
    - Python has Prebuilt Libraries like Numpy for scientific computation, Scipy for advanced computing and Pybrain for machine learning (Python Machine Learning) making it one of the best languages For AI.

3. **Desktop GUI Applications**
    - Python provides Tk GUI library to develop user interface in python based application. Some other useful toolkits wxWidgets, Kivy, pyqt that are useable on several platforms. The Kivy is popular for writing multitouch applications.

4. **Software Development**
    - Python is helpful for software development process. It works as a support language and can be used for build control and management, testing etc.

5. **Scientific and Numeric**
    - Python is popular and widely used in scientific and numeric computing. Some useful library and package are SciPy, Pandas, IPython etc. SciPy is group of packages of engineering, science and mathematics.

6. **Business Applications**
    - Python is used to build Bussiness applications like ERP and e-commerce systems. Tryton is a high level application platform.

7. **Console Based Application**
    - We can use Python to develop console based applications. For example: IPython.

8. **Audio or Video based Applications**
    - Python is awesome to perform multiple tasks and can be used to develop multimedia applications. Some of real applications are: TimPlayer, cplay etc.

9. **3D CAD Applications**
    - To create CAD application Fandango is a real application which provides full features of CAD.

10. **Enterprise Applications**
    - Python can be used to create applications which can be used within an Enterprise or an Organization. Some real time applications are: OpenErp, Tryton, Picalo etc.

11. **Applications for Images**
    - Using Python several application can be developed for image. Applications developed are: VPython, Gogh, imgSeek etc.

12. **Games and 3D Graphics**
    - PyGame, PyKyra are two frameworks for game-development with Python. Apart from these, we also get a variety of 3D-rendering libraries. If you’re one of those game-developers, you can check out PyWeek, a semi-annual game programming contest.

### 4. Great Community and Support

Python has a large supporting community. There are numerous active online forums which can come in handy if you are stuck anywhere in the learning process. Some of them are:

* **[Learn Python subreddit](https://www.reddit.com/r/learnpython)**
* **[Google Forum for Python](https://groups.google.com/forum/#!forum/comp.lang.python)**
* **[Python Questions - Stack Overflow](https://stackoverflow.com/questions/tagged/python)**

## How you can learn to code in Python?

### Learn Python from Dr. Milaan Parmar

Programiz offers dozens of tutorials and examples to help you learn Python programming from scratch. Each tutorial is written in-depth with examples and detailed explanations.

### Learn Python from Books

It is always a good idea to learn to program from books. You will get the big picture of programming concepts in the book which you may not find elsewhere.

Here are 3 books we personally recommend.

* **[Think Python: How to Think Like a Computer Scientist](http://amzn.to/2dVg5rG)** - a hands-on guide to start learning Python with lots of exercise materials
* **[Starting out With Python](http://amzn.to/2diJu8Z)** - introductory programming book for students with limited programming experience
* **[Effective Python: 59 Specific Ways to Write Better Python](http://amzn.to/2e2EiJt)** - an excellent book for learning to write robust, efficient and maintainable code in Python

## Final Words

I personally think Python is a terrific language to learn.

If you are getting started in programming, Python is an awesome choice. You will be amazed by how much you can do in Python once you know the basics.

It is easy to overlook the fact that Python is a powerful language. Not only is Python good for learning programming, but it is also a good language to have in your arsenal.

Python can help you to get started in everything, whether it is changing your idea into a prototype, creating a game, or getting in Machine Learning and Artificial Intelligence.

# How to install Python

> These document provide a relatively brief overview of how to install Python in your machine.

# OPTION 2: The Easiest Way to Run Python

The easiest way to run Python is by using **Thonny IDE**.

The Thonny IDE comes with the latest version of Python bundled in it. So you don't have to install Python separately.

Follow the following steps to run Python on your computer.

1. Download **[Thonny IDE](https://thonny.org/)**.
2. Run the installer to install **Thonny** on your computer.
3. Go to: **File** > **New**. Then save the file with **`.py`** extension. For example, **`hello.py`**, **`example.py`**, etc. You can give any name to the file. However, the file name should end with **`.py`**

<div>
<img src="/content/drive/MyDrive/ELTE/Python/1-Python_Introduction/../img/setup1.png" width="700"/>
</div>

4. Write Python code in the file and save it.
5. Then Go to **Run** > **Run current script** or simply click **F5** to run it.

# OPTION 3: Install Python Separately (Windows)

If you don't want to use Thonny, here's how you can install and run Python on your computer.

1. Download the latest version of **[Python](https://www.python.org/downloads/)**.
Download Windows x86 – 64 executable file only as installer will automatically install 32 or 64 bit of Python according to the system configuration.

2. Run the installer file and follow the steps to install Python

3. During the install process, check Add Python to environment variables. This will **add Python to environment variables**, and you can run Python from any part of the computer.

Also, you can choose the path where Python is installed.

<div>
<img src="../img/ps1.png" width="550"/>
</div>

4. When the installation progress is completed, you will see the Disable path length limit. Now you must be thinking what is it and whats will happen if I will disable it. The answer is clear, it will remove the limitations on **MAX_PATH** variable. It will allow to use long path names for the Python. We recommend you to not disable this option as it will remove any path related issues while working in Windows. Therefore click on the close button to finish the installation.

<div>
<img src="../img/setup2.png" width="550"/>
</div>

5. Now, the Python is installed. You can check it either it is properly installed or not. You can do it through Command Prompt. Open the command prompt and type the following command -" **python -v** ". It will output the version of the Python.

6. Congratulation, you have **successfully** installed **Python 3** version. you can read the next tutorial to Python Programming a complete guide for beginners.

# Run Python

## 1. Run Python in Immediate mode

Once Python is installed, typing **`python`** in the command line will invoke the interpreter in immediate mode. We can directly type in Python code, and press Enter to get the output.

Try typing in **`1 + 1`** and press enter. We get **`2`** as the output. This prompt can be used as a calculator. To exit this mode, type **`quit()`** and press enter.

<div>
<img src="../img/ps2.png" width="550"/>
</div>

## 2. Run Python in the Integrated Development Environment (IDE)

We can use any text editing software to write a Python script file.

We just need to save it with the **`.py`** extension. But using an IDE can make our life a lot easier. IDE is a piece of software that provides useful features like code hinting, syntax highlighting and checking, file explorers, etc. to the programmer for application development.

By the way, when you install Python, an IDE named IDLE is also installed. You can use it to run Python on your computer. It's a decent IDE for beginners.

When you open IDLE, an interactive Python Shell is opened.

<div>
<img src="../img/ps3.png" width="550"/>
</div>

Now you can create a new file and save it with **.py** extension. For example, **hello.py**

Write Python code in the file and save it. To run the file, go to **Run** > **Run Module** or simply click **F5**.

<div>
<img src="../img/ps3.png" width="550"/>
</div>

#  Python 3 Major Version Installation (Linux)

Linux is an open source Operating System. There are many Linux based operating systems. Popular are **Ubuntu, Fedora, Linux Mint, Debian**. In this section you will learn how to do python installation for both Python 3 and Python 2 versions. **Fedora Linux OS** used for Installation of python. Most of the newer Linux based Operating system have **already installed Python**. You will check it is installed or not by the typing the following commands in terminal.

* For Python3
> **`$ python3 --version`**

* For Python2
> **`$ python2 --version`**

You will see the python versions as output like in the below screenshot. But if you are not seeing then , you have to install Python . Follow the following steps for **successful install**.

<div>
<img src="../img/setup3.png" width="700"/>
</div>

If you are using Ubuntu 16.0 or newer version, then you can easily install Python 3.6 or Python 2.7 by typing the following commands

> **`$ sudo apt-get update`**

> **`$ sudo apt-get install python3.7`**

# Python 3 Major Version Installation (MacOS)

**MacOs** is an operating system developed by the Apple Inc. It is just like Windows Operating System and other operating system. Most of the newer versions of MacOS have **pre-installed python**. You can check python is installed or not by the following commands.

python --version

Download the Python 3 or 2 new version. At the time of writing this post , **Python 3.7.4 - July 8, 2019** was the newer version. Download the **[Mac OS X 64-bit/32-bit]((https://www.python.org/downloads/mac-osx/))** installer. Run the package and following the installation steps to install the python packages

After the **successful installation**, you can check the python version by using the same command.

> **`python --version`**

# Python Hello, World

**Python** is easy to learn and code and can be execute with python **interpreter**. We can also use Python **interactive shell** to test python code immediately. A simple hello world example is given below. Write below code in a file and save with **.py** extension. Python source file has **.pyextension**.

### Writing the “Hello, World!” Program

Now that we have Python up and running, we can write our first Python program.

Let's create a very simple program called **`Hello World`**. A "**Hello, World!**" is a simple program that outputs **`Hello, World!`** on the screen. Since it's a very simple program, it's often used to introduce a new programming language to beginners.

```python
print("Hello, World!")
```

Congratulations! You just wrote your first program in Python.

As you can see, this was a pretty easy task. This is the beauty of Python programming language.

### Running the “Hello, World!” Program

The hello.py program that you just created will cause your terminal to produce the following output:

```python
Hello, World!
```

In [ ]:
print("Hello, World!")

Hello, World!

**Congratulations!** You have written the “Hello, World!” program in **Python 3**.
Since the program ran, you can now confirm that **Python 3** is properly installed and that the program is **syntactically correct**.

### How to print blank lines

Sometimes you need to print one blank line in your Python program. Following are an example to perform this task.

#### Example:

Let us print 8 blank lines. You can type:

```python
>>>print (9 * "\n")
```
or

```python
>>>print ("\n\n\n\n\n\n\n\n\n")
```

In [ ]:
print ("Hello World!")
print (9 * "\n")
print ("Hello World!")

Hello World!










Hello World!

In [ ]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug\nSep\nOct\nNov\nDec")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
print ("I want \\n to be printed.")
print("I'm very *happy*")

I want \n to be printed.
I'm very *happy*

In [ ]:
print ("Hello\tWorld!") # \t is equal to 4 spaces

Hello	World!

In [ ]:
print ("""
Routine:
\t- Eat
\t- Study
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Study
	- Sleep
	- Repeat

### Print end command

By default, python's **`print()`** function ends with a newline. This function comes with a parameter called **`end`**. The default value of this parameter is **`\n`**, i.e., the new line character. You can end a print statement with any character or string using this parameter. This is available in only in **Python 3+**

#### Example 1:

```python
>>>print ("Welcome to", end = ' ')
>>>print ("Python", end = '!')`

Welcome to Python!
```

In [ ]:
print ("Welcome to", end = ' ')
print ("Python", end = '!')

Welcome to Python!

#### Example 2:

```python
>>>print("Python" , end = '@')

Python@
```

In [ ]:
print("Python " , end = '@') # ends the output with '@'.

Python @

In [ ]:
print ('_M'*9)

_M_M_M_M_M_M_M_M_M

In [ ]:
print("Hello " * 6)

Hello Hello Hello Hello Hello Hello

# Python Keywords and Identifiers

In this class, you will learn about keywords (reserved words in Python) and identifiers (names given to variables, functions, etc.).

In [ ]:
for = 6 # It will give error becasue "for" is keyword and we cannot use as a variable name.

SyntaxError: invalid syntax (<ipython-input-1-473137c03db7>, line 1)

In [ ]:
For = 6 # "for" is keyword but "For" is not keyword so we can use it as variable name
For

6

# 2. Python Identifiers

An **identifier** is a name given to entities like **class, functions, variables, etc**. It helps to differentiate one entity from another.

### Rules for writing identifiers

1. **Identifiers** can be a combination of letters in lowercase **(a to z)** or uppercase **(A to Z)** or digits **(0 to 9)** or an underscore **`_`**. Names like **`myClass`**, **`var_1`** and **`print_this_to_screen`**, all are valid example.

2. An identifier cannot start with a digit. **`1variable`** is invalid, but **`variable1`** is perfectly fine.

3. Keywords cannot be used as identifiers

```python
>>>global = 3

File "<ipython-input-2-43186c7d3555>", line 1
    global = 3 # because "global" is a keyword
           ^
SyntaxError: invalid syntax
```

In [ ]:
global = 3 # because "global" is a keyword

SyntaxError: invalid syntax (<ipython-input-3-3e859d37287a>, line 1)

4. We cannot use special symbols like **!**, **@**, **#**,<b> $, % </b>, etc. in our identifier.

```python
>>>m@ = 3

File "<ipython-input-3-4d4a0e714c73>", line 1
    m@ = 3
       ^
SyntaxError: invalid syntax
```

In [ ]:
m@ = 3

SyntaxError: invalid syntax (<ipython-input-4-0f73a35e8ce2>, line 1)

## Things to Remember

Python is a case-sensitive language. This means, **`Variable`** and **`variable`** are not the same.

Always give the identifiers a name that makes sense. While **`c = 10`** is a valid name, writing **`count = 10`** would make more sense, and it would be easier to figure out what it represents when you look at your code after a long gap.

Multiple words can be separated using an underscore, like **`this_is_a_long_variable`**.

In [ ]:
this_is_a_long_variable = 6+3
this_is_a_long_variable

9

In [ ]:
add_6_and_3 = 6+3
add_6_and_3

9

# Python Statement, Indentation and Comments

In this class, you will learn about Python statements, why indentation is important and use of comments in programming.

## 1. Python Statement

Instructions that a Python interpreter can execute are called statements. For example, **`a = 1`** is an assignment statement. **`if`** statement, **`for`** statement, **`while`** statement, etc. are other kinds of statements which will be discussed later.

### Multi-line statement

In Python, the end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character **`\`**.

* Statements finish at the end of the line:
  * Except when there is an open bracket or paranthesis:
  
```python
>>> 1+2
>>> +3  #illegal continuation of the sum
```
  * A single backslash at the end of the line can also be used to indicate that a statement is still incomplete  
  
```python
>>> 1 + \
>>>    2 + 3 # this is also okay
```

For example:

In [ ]:
1+2    # assignment line 1
+3     # assignment line 2

# Python is only calculating assignment line 1

3

```python
1+2 \       # '\' means assignment line is continue to next line
+3
```

>**Note:** This would result in error because there should be no comment **`#`** or space after **`\`**.

In [ ]:
# Method 1:

1+2 \
+3

6

In [ ]:
1 + 2 + 3 + \
4 + 5 + 6 + \
7 + 8 + 9

45

This is an explicit line continuation. In Python, line continuation is implied inside:
1. parentheses **`( )`**,
    For Example:
    ```python
(1+2
             + 3) # perfectly OK even with spaces
```
2. brackets **`[ ]`**, and
3. braces **`{ }`**.
For instance, we can implement the above multi-line statement as:

In [ ]:
# Method 2:

(1+2
+3)

6

In [ ]:
(1 + 2 + 3 +
4 + 5 + 6 +
7 + 8 + 9)

45

Here, the surrounding parentheses **`( )`** do the line continuation implicitly. Same is the case with **`[ ]`** and **`{ }`**. For example:

In [ ]:
['red',
'blue',
    'green', '99']

['red', 'blue', 'green', '99']

In [ ]:
for i in range(1,11):
    print(i)   #press "Tab" one time for 1 indentation
    if i == 6:
        break

1
2
3
4
5
6

The enforcement of indentation in Python makes the code look neat and clean. This results in Python programs that look similar and consistent.

Indentation can be ignored in line continuation, but it's always a good idea to indent. It makes the code more readable. For example:

In [ ]:
if True:
    print('Hello')
    a = 6

Hello

or

In [ ]:
if True: print('Hello'); a = 6

Hello

both are valid and do the same thing, but the former style is clearer.

Incorrect indentation will result in **`IndentationError`**
.

## 3. Python Comments

Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.

You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.

In Python, we use the hash **`#`** symbol to start writing a comment.

It extends up to the newline character. Comments are for programmers to better understand a program. Python Interpreter ignores comments.

Generally, comments will look something like this:

```python
#This is a Comment
```

Because comments do not **execute**, when you run a program you will not see any indication of the comment there. Comments are in the source code for **humans** to **read**, not for **computers to execute**.

In [ ]:
#This is a Comment

### 1. Single lined comment:
In case user wants to specify a single line comment, then comment must start with **`#`**.

```python
#This is single line comment.
```

In [ ]:
#This is single line comment.

### 2. Inline comments
If a comment is placed on the same line as a statement, it is called an inline comment. Similar to the block comment, an inline comment begins with a single hash (#) sign and followed by a space and comment.

It is recommended that an inline comment should separate from the statement at least **two spaces**. The following example demonstrates an inline comment

```python
>>>n+=1  # increase/add n by 1
```

In [ ]:
n=9
n+=1  # increase/add n by 1
n

10

### 3. Multi lined comment:

We can have comments that extend up to multiple lines. One way is to use the hash **`#`** symbol at the beginning of each line. For example:

In [ ]:
#This is a long comment
#and it extends
#to multiple lines

In [ ]:
#This is a comment
#print out Hello
print('Hello')

Hello

Another way of doing this is to use triple quotes, either `'''` or `"""`.

These triple quotes are generally used for multi-line strings. But they can be used as a multi-line comment as well. Unless they are not docstrings, they do not generate any extra code.

```python
#single line comment
>>>print ("Hello Python"
   '''This is
   multiline comment''')
```

In [ ]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

In [ ]:
'''This is also a
perfect example of
multi-line comments'''

'This is also a\nperfect example of\nmulti-line comments'

In [ ]:
#single line comment
print ("Hello Python"
'''This is
multiline comment''')

Hello PythonThis is
multiline comment

In [ ]:
def double(num):
    """Function to double the value"""
    return 3*num
print(double.__doc__)

Function to double the value

## Help topics

Python has extensive help built in. You can execute **`help()`** for an overview or **`help(x)`** for any library, object or type **`x`**. Try using **`help("topics")`** to get a list of help pages built into the help system.

`help("topics")`

In [ ]:
help("topics")

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

# Python Variables and Constants

In this class, you will learn about Python variables, constants, literals and their use cases.

# 1. Python Variables

A variable is a named location used to **store data in the memory**. Variable also known as **identifier** and used to hold value. It is helpful to think of variables as a container that holds data that can be changed later in the program. **Mnemonic** variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored. For example,

```python
>>>number = 90
```

Here, we have created a variable named **`number`**. We have assigned the value **`10`** to the variable.

You can think of variables as a bag to store books in it and that book can be replaced at any time.

```python
>>>number = 90
>>>number = 9.1
```

Initially, the value of number was **`90`**. Later, it was changed to **`9.1`**.

> **Note**: In Python, we don't actually assign values to the variables. Instead, Python gives the reference of the object(value) to the variable.

In Python, we don't need to specify the type of variable because Python is a **type infer language** and smart enough to get variable type.

Python Variable Name Rules

- A variable name must start with a **letter** **`A`**-**`z`** or the **underscore** **`_`** character
- A variable name cannot start with a **number** **`0`**-**`9`**
- A variable name can only contain alpha-numeric characters and underscores (**`A`**-**`z`**, **`0`**-**`9`**, and **`_`** )
- Variable names are case-sensitive (**`firstname`**, **`Firstname`**, **`FirstName`** and **`FIRSTNAME`**) are different variables). It is recomended to use lowercase letters for variable name.

#### Let us see valid variable names

```python
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if          # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2
```

Invalid variables names:

```python
first-name
first@name
first$name
num-1
1num
```

We will use standard Python variable naming style which has been adopted by many Python developers. Python developers use snake case(snake_case) variable naming convention. We use underscore character after each word for a variable containing more than one word (eg. **`first_name`**, **`last_name`**, **`engine_rotation_speed`**).  The example below is an example of standard naming of variables, underscore is required when the variable name is more than one word.

When we assign a certain data type to a variable, it is called variable declaration. For instance in the example below my first name is assigned to a variable **`first_name`**. The equal sign is an assignment operator. Assigning means storing data in the variable. The equal sign in Python is not equality as in Mathematics.

### Assigning values to Variables in Python

Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages.

As you can see from the above example, you can use the assignment operator **`=`** to assign a value to a variable.

#### Example 1: Declaring and assigning value to a variable

In [ ]:
number = 90
number = 9.1
number

9.1

In [ ]:
website = "github.com"  # `website` is my variable and `github.com` is an argument
print(website)

github.com

In the above program, we assigned a value **`github.com`** to the variable **`website`**. Then, we printed out the value assigned to **`website`** i.e. **`github.com`**.

> **Note**: Python is a **[type-inferred](https://en.wikipedia.org/wiki/Type_inference)** language, so you don't have to explicitly define the variable type. It automatically knows that **`github.com`** is a string and declares the **`website`** variable as a string.

In [ ]:
print('Hello',',', 'World','!') # it can take multiple arguments, 4 arguments have been passed

Hello , World !

In [ ]:
first_name = 'Milaan'
last_name = 'Parmar'
country = 'Finland'
city = 'Tampere'
age = 96
is_married = True
skills = ['Python', 'Matlab', 'JS', 'C', 'C++']
person_info = {
   'firstname':'Milaan',
   'lastname':'Parmar',
   'country':'Finland',
   'city':'Tampere'
    }

Let us print and also find the length of the variables declared at the top:

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Milaan
First name length: 6
Last name:  Parmar
Last name length:  6
Country:  Finland
City:  Tampere
Age:  96
Married:  True
Skills:  ['Python', 'Matlab', 'JS', 'C', 'C++']
Person information:  {'firstname': 'Milaan', 'lastname': 'Parmar', 'country': 'Finland', 'city': 'Tampere'}

#### Example 2: Declaring multiple variables in one line** using comma  **`,`**  and semicolon **`;`**

In [ ]:
a, b, c = 6, 9.3, "Hello"

print (a)
print (b)
print (c)

6
9.3
Hello

In [ ]:
a = 1; b = 2; c = 3
print(a,b,c)  # outout: 1 2 3
a,b,c         # outout: 1 2 3

1 2 3

(1, 2, 3)

In [ ]:
first_name, last_name, country, age, is_married = 'Milaan', 'Parmar', 'Finland', 96, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age) # Don't worry it is not my real age ^_^
print('Married: ', is_married)

Milaan Parmar Finland 96 True
First name: Milaan
Last name:  Parmar
Country:  Finland
Age:  96
Married:  True

If we want to assign the same value to **multiple**/**chained** variables at once, we can do this as:

In [ ]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

The second program assigns the **`same`** string to all the three variables **`x`**, **`y`** and **`z`**.

In [ ]:
p = q = r = 300   # Assigning value together
print(p, q, r)    # Printing value together

300 300 300

#### Example 3: Changing the value of a variable

In [ ]:
website = "github.com"
print(website)

# assigning a new variable to website
website = "baidu.com"

print(website)

github.com
baidu.com

In the above program, we have assigned **`github.com`** to the **`website`** variable initially. Then, the value is changed to **`baidu.com`**.

In [ ]:
n=300
print(n)

300

In [ ]:
m=n
print(n)

m = 1000   # assigning a new value to n
print(m)

300
1000

In [ ]:
# Declare & Redeclare variables
m = "Python is Fun"
m = 10
print (m)

10

# 2. Constants

A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

You can think of constants as a bag to store some books which cannot be replaced once placed inside the bag.

### Assigning value to constant in Python

In Python, constants are usually declared and assigned in a module. Here, the module is a new file containing variables, functions, etc which is imported to the main file. Inside the module, constants are written in all capital letters and underscores separating the words.

#### Example 1: Declaring and assigning value to a constant

Create a **constant.py**:

```python
>>>PI = 3.14
>>>GRAVITY = 9.8
```

Create a **main.py**:

```python
>>>import constant
>>>print(constant.PI)
>>>print(constant.GRAVITY)

3.14
9.8
```

In the above program, we create a **constant.py** module file. Then, we assign the constant value to **`PI`** and **`GRAVITY`**. After that, we create a **main.py** file and import the **`constant`** module. Finally, we print the constant value.

> **Note**: In reality, we don't use constants in Python. Naming them in all capital letters is a convention to separate them from variables, however, it does not actually prevent reassignment.

## Rules and Naming Convention for Variables and constants

The examples you have seen so far have used **short**, terse variable names like m and n. But variable names can be more **verbose**. In fact, it is usually beneficial if they are because it makes the purpose of the variable more evident at first glance.

1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (**A to Z**) or digits (**0 to 9**) or an underscore **`_`**. For example:

```python
snake_case
MACRO_CASE
camelCase
CapWords
```

2. Create a name that makes sense. For example, **`vowel`** makes more sense than **`v`**.

3. If you want to create a variable name having two words, use underscore to separate them. For example:

```python
my_name
current_salary
```

4. Use capital letters possible to declare a constant. For example:

```python
PI
G
MASS
SPEED_OF_LIGHT
TEMP
```

5. Never use special symbols like **!**, **@**, **#**, **$** <b> % </b>, etc.

6. Don't start a variable name with a digit.

>**Note**: One of the additions to Python 3 was full Unicode support, which allows for **Unicode** characters in a variable name as well. You will learn about Unicode in greater depth in a future tutorial.

For example, all of the following are valid variable names:

In [ ]:
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

But this one is not, **because a variable name can’t begin with a digit**:

In [ ]:
1099_filed = False    # cannot start name of a variable with a number.

SyntaxError: invalid decimal literal (<ipython-input-16-8cc0f1bdc5ed>, line 1)

Note that case is **significant**. Lowercase and uppercase letters are not the same. Use of the underscore character is significant as well. Each of the following defines a different variable:

```python
>>>age = 1
>>>Age = 2
>>>aGe = 3
>>>AGE = 4
>>>a_g_e = 5
>>>_age = 6
>>>age_ = 7
>>>AGe = 8
>>>print(age, Age, aGe, AGE, a_g_e, age, age, AGe)

1 2 3 4 5 6 7 8
```
There is nothing stopping you from creating two different variables in the same program called age and Age, or for that matter agE. But it is probably **ill-advised**. It would certainly be likely to confuse anyone trying to read your code, and even you yourself, after you’d been away from it awhile.

In [ ]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
AGe = 8
print(age, Age, aGe, AGE, a_g_e, age, age, AGe)

1 2 3 4 5 1 1 8

## 💻 Exercises ➞ <span class='label label-default'>Variables</span>

### Exercises ➞ <span class='label label-default'>Level 1</span>

1. Write a python comment saying **`Python variables and Constants`**
2. Declare a **`first_name`** variable and assign a value to it
3. Declare a **`last_name`** variable and assign a value to it
4. Declare a **`full_name`** variable and assign a value to it
5. Declare a variable **`is_light_on`** and assign a value to it
6. Declare multiple variable on one line

### Exercises ➞ <span class='label label-default'>Level 2</span>

1. Check the data type of all your variables using **`type()`** built-in function
2. Using the **`len()`** built-in function, find the length of your first name
3. Compare the length of your **`first_name`** and your **`last_name`**
4. Declare **6** as **`num_1`** and **4** as **`num_2`**
    1. Add **`num_1`** and **`num_2`** and assign the value to a variable **`total`**
    2. Subtract **`num_2`** from **`num_1`** and assign the value to a variable **`difference`**
    3. Multiply **`num_2`** and **`num_1`** and assign the value to a variable **`product`**
    4. Divide **`num_1`** by **`num_2`** and assign the value to a variable **`division`**
    5. Use modulus division to find **`num_2`** divided by **`num_1`** and assign the value to a variable **`remainder`**
    6. Calculate **`num_1`** to the power of **`num_2`** and assign the value to a variable **`exp`**
    7. Find floor division of **`num_1`** by **`num_2`** and assign the value to a variable **`floor_division`**
    
5. The radius of a circle is **30 meters**.
    1. Calculate the area of a circle and assign the value to a variable name of **`area_of_circle`** by taking user **`input()`**
    2. Calculate the circumference of a circle and assign the value to a variable name of **`circum_of_circle`** by taking user **`input()`**
    3. Take radius as user **`input()`** and calculate the area.
    
6. Use the built-in **`input()`** function to get first name, last name, country and age from a user and store the value to their corresponding variable names
7. Run help (**`keywords`**) in Python shell or in your file to check for the Python reserved words or keywords

# Python Literals

**Literal** is a raw data given in a **variable** or **constant**. In Python, there are various types of literals they are as follows:

## 1. Numeric Literals

Numeric Literals are **immutable (unchangeable)**. Numeric literals can belong to 3 different numerical types **`Integer`**, **`Float`** and **`Complex`**.

<div>
<img src="../img/li0.png" width="500"/>
</div>

Number data types in Python:

1. Integers: Integer(negative, zero and positive) numbers
   - Example:
       - ... -3, -2, -1, 0, 1, 2, 3 ...


2. Floating Point Numbers(Decimal numbers)
   - Example:
       - ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...


3. Complex Numbers
   - Example:
       - 1 + j, 2 + 3j, 1 - 1j

In [ ]:
# Example:

a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

# Integer Literal
int_1 = 10
int_2 = 99


# Float Literal
float_1 = 10.5
float_2 = 1.5e2


# Complex Literal
x = 3.14j

print(a, b, c, d)
print(int_1, int_2)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10 99
10.5 150.0
3.14j 3.14 0.0

### Type Conversion of Numbers in Python

As a programmer, you can convert a variable of any data type to Number data types in Python using the below Python inbuilt functions. Also, using these functions, you can convert a number from one Number data type to another i.e from int to float, float to decimal, decimal to int and so on.

* **`int ()`** : This function converts any data type to integer data type.
* **`float ()`** : This function converts any data type to float data type.
* **`complex (real, imaginary)`** or **`complex (real)`** : This function converts any data type to complex data type.

> **Note**: There is no 'long' integer in Python 3, int and long are unified now. This means int behave more like long. Sample program showing type conversion of Numbers in Python

In [ ]:
# Example:

a = 3.7
b = 19.16
c = 3 + 27j

#converting float to int
print (int(b))

#converting int to float
print (float(a))

#converting int to complex
print (complex(a))

#converting float to complex
print (complex(b))

#converting to complex
print (complex(a, b))

19
3.7
(3.7+0j)
(19.16+0j)
(3.7+19.16j)

## 2. String literals (unicode character strings)

A **string** literal is a **sequence of characters** surrounded by **quotes**. We can use both **single**, **double** or **triple** quotes for a string. And, a **character literal** is a single character surrounded by single or double quotes.

In [ ]:
# Example:

a = '''Apple'''

b = """Apple"""

c = 'Apple'

d = "Apple"

e = Apple     # cannot write string with out quotes ('', " ", """ """, ''' ''')

print(a)
print(b)
print(c)
print(d)
print(e)

NameError: name 'Apple' is not defined

In [ ]:
# Example:

strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In the above program,

* **`This is Python`** is a string literal and **`C`** is a **character** literal.

* The value with **triple-quote """** assigned in the **`multiline_str`** is **multi-line** string literal.

* The **`u"\u00dcnic\u00f6de"`** is a **unicode literal** which supports characters other than English. In this case, **`\u00dc`** represents **`Ü`** and **`\u00f6`** represents **`ö`**.

* **`r"raw \n string"`** is a raw string literal.

## 3. Boolean literals

A Boolean literal can have any of the two values: **`True`** or **`False`**.

In [ ]:
# Example:

#REMEMBER  True == 1   False == 0

x = (1 == True)
y = (1 == False)
a = True + 6
b = False + 90

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 7
b: 90

In the above program, we use boolean literal **`True`** and **`False`**. In Python, **`True`** represents the value as **`1` and `False` as `0`**. The value of `x` is `True` because **`1` is equal to `True`**. And, the value of **`y`** is **`False`** because **`1` is not equal to `False`**.

Similarly, we can use the **`True`** and **`False`** in numeric expressions as the value. The value of **`a`** is **`6`** because we add **`True`** which has value of **`1` with `6`**. Similarly, **`b`** is **`90`** because we add the **`False`** having value of **`0` with `90`**.

In [ ]:
# Example:

9.0           # a simple floating point number
1e100         # a googol as floating point number
-1234567890   # an integer
True or False # the two possible boolean values
'This is a string'
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

Python also has complex numbers that can be written as follows. Note that the **`( )`** brackets or parentheses are required.

In [ ]:
complex_number1 = complex(1,2)
print(complex_number1)

complex_number2 = (1.0+2j) # the same number as above
print(complex_number2)

(1+2j)
(1+2j)

## Special literals

Python contains one **special** literal i.e., **`None`**. We use it to specify to that field that is not created.

In [ ]:
# Example:

juice = "Available"
soup = None
def menu(x):
    if x == juice:
        print(juice)
    else:
        print(soup)
menu(juice)
menu(soup)

Available
None

In the above program, we define a **`menu` function**. Inside **`menu`**, when we set parameter as **`drink`** then, it displays **`Available`**. And, when the parameter is **`food`**, it displays **`None`**.

## Literal Collections

There are four different literal collections **List literals, Tuple literals, Dict literals**, and **Set literals**.

In [ ]:
# Example:

fruits1 = ("Banana", "Apple", "Strawberry")             # tuple ()
fruits2 = ["Banana", "Apple", "Strawberry"]             # list []
fruits3 = {"Banana", "Apple", "Strawberry"}             # set {}
fruits4 = {"1":"Banana", "2":"Apple", "3":"Strawberry"} # dictionary {"Key":"Value"}

print(fruits1)
print(fruits2)
print(fruits3)
print(fruits4)

('Banana', 'Apple', 'Strawberry')
['Banana', 'Apple', 'Strawberry']
{'Apple', 'Strawberry', 'Banana'}
{'1': 'Banana', '2': 'Apple', '3': 'Strawberry'}

In [ ]:
# Example:

fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'u', 'e', 'o', 'a', 'i'}

# Python Data Types

In this class, you will learn about different data types you can use in Python.

## Data types in Python

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

In [ ]:
a = 6
print(a, "is of type", type(a))
print(a, "is integer number?", isinstance(5,int))

a = 3.0
print(a, "is of type", type(a))
print(a, "is float number?", isinstance(2.0,float))

a = 1+2j  # '1' is real part and '2j' is imaginary part
print(a, "is of type", type(a))
print(a, "is complex number?", isinstance(1+2j,complex))

6 is of type <class 'int'>
6 is integer number? True
3.0 is of type <class 'float'>
3.0 is float number? True
(1+2j) is of type <class 'complex'>
(1+2j) is complex number? True

Integers can be of any length, it is only limited by the memory available.

A floating-point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. **`1`** is an integer, **`1.0`** is a floating-point number.

Complex numbers are written in the form, **`x + yj`**, where **`x`** is the real part and **`y`** is the imaginary part. Here are some examples.

In [ ]:
a = 1234567890123456789
print (a)

b = 0.1234567890123456789  # total of only 17 numbers after decimal can be printed.
print (b)

c = 1+2j
print (c)

1234567890123456789
0.12345678901234568
(1+2j)

Notice that the **`float`** variable **`b`** got truncated.

In [ ]:
x = [6, 99, 77, 'Apple']
print(x, "is of type", type(x))

[6, 99, 77, 'Apple'] is of type <class 'list'>

In [ ]:
a = [5, 10, 15, 20, 25, 30, 35, 40]  # Total elemnets is 8
#   [0   1   2   3   4   5   6   7]  ⬅ Index forward
#   [-8 -7  -6  -5  -4  -3  -2  -1]  ➡ Index backward

# index '0' is element '1' = 5,
# index '1' is element '2' = 10,
# index '2' is element '3' = 15,
# .
# .
# .
# index '7' is element '8' = 40,

a[1] # To access the elements in the list

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])  # [0:3] means elements from 0 uptil 2 index (not include last element)
                            # [0:3] means from index 0 to 3 - 1
                            # [0:3] means from index 0 to 2

# a[5:] = [30, 35, 40]  # [5:] means all the elements from 5 till end
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [ ]:
a[1:-2]

[10, 15, 20, 25, 30]

In [ ]:
a[5:9]

[30, 35, 40]

In [ ]:
a[:5]

[5, 10, 15, 20, 25]

Lists are **mutable**, meaning, the value of elements of a list can be altered.

In [ ]:
# Change the element of the List
a = [1, 2, 3]
#   [0  1  2] ➡ Index forward

a[2] = 4  # Change my third element from '3' to '4' # [2] is the index number
print(a)

[1, 2, 4]

In [ ]:
# Tuple 't' have 3 elements
t = (6,'program', 1+3j)
#   (0        1      2) ➡ Index forward

# index '0' is element '1'= 6
# index '1' is element '2'= program
# index '2' is elemtnt '3'= 1+3j

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (6, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10  # trying to change element 0 from '6' to '10'

t[1] =  program
t[0:3] =  (6, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [ ]:
list1 =  [9, 'apple', 3 + 6j]  # list
tuple1 = (9, 'apple', 3 + 6j)  # tuple

list1[1] = 'banana'  # List is mutable
print(list1)         # No error
tuple1[1]= 'banana'  # Tuple is immutable
print(tuple1)        # error

[9, 'banana', (3+6j)]

TypeError: 'tuple' object does not support item assignment

In [ ]:
s = '''Apple'''
print(s)
s = """Apple"""
print(s)
s = 'Apple'
print(s)
s = "Apple"
print(s)
s = Apple   # cannot write string with out quotes ('', " ", """ """, ''' ''')
print(s)

Apple
Apple
Apple
Apple

NameError: name 'Apple' is not defined

In [ ]:
s = "This is a string"  # s is my variable
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

Just like a list and tuple, the slicing operator **`[ ]`** can be used with strings. Strings, however, are **immutable**.

In [ ]:
s = 'Hello world!' # total 12 elements. Index start from '0' to '11'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world' # index '6' to '11' means element from 6 to 10
print("s[6:11] = ", s[6:11])

s[4] =  o
s[6:11] =  world

In [ ]:
a = "apple"

a[0]='o'

# Simiar to TUPLE, STRING is immutable

TypeError: 'str' object does not support item assignment

In [ ]:
a = {7,1,3,6,9}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 3, 6, 7, 9}
<class 'set'>

We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

In [ ]:
a = {1,2,2,3,3,3} # we can see total 6 elements
print(a)

{1, 2, 3}

Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator **`[]`** does not work.

In [ ]:
a = {1,2,3}  # in Set data type we cannot access the elements because set is unordered collection
a[1]  # Index [1] means element 2

TypeError: 'set' object is not subscriptable

In [ ]:
d = {1: 'Apple', 2: 'Cat', 3: 'Food'}  # 'Apple' is element and 1 is the key of element.
print(d, type(d))

d[3]

{1: 'Apple', 2: 'Cat', 3: 'Food'} <class 'dict'>

'Food'

In [ ]:
d = {1:'value','key':2} # d is my variable, 'value' and 'key' are the element and 1 and 2 are the key.
type(d)

dict

We use key to retrieve the respective value. But not the other way around.

In [ ]:
d = {1:'value','key':2} # '1' is the key to access 'value' and 'key' is the key to access '2'
print(type(d))

print("d[1] = ", d[1]); # try to find the element from key.

print("d['key'] = ", d['key']);  # try to find the key from the element.

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
print(type(zip([1,2],[3,4])))

<class 'zip'>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Type Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

1. **Implicit Type Conversion**
2. **Explicit Type Conversion**

### 1. Implicit Type Conversion

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [ ]:
# Example 1: Converting integer to float

num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

**Explanation**:

In the above program,

1. We add two variables **`num_int`** and **`num_flo`**, storing the value in **`num_new`**.
2. We will look at the data type of all three objects respectively.
3. In the output, we can see the data type of **`num_int`** is an **`integer`** while the data type of **`num_flo`** is a **`float`**.
4. Also, we can see the **`num_new`** has a **`float`** data type because Python always converts smaller data types to larger data types to avoid the loss of data.

Now, let's try adding a string and an integer, and see how Python deals with it.

In [ ]:
# Example 2: Addition of string(higher) data type and integer(lower) datatype

num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)  # ERROR! cannot add two different data types (int and string)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Explanation**:

In the above program,

1. We add two variables **`num_int`** and **`num_str`**.
2. As we can see from the output, we got **`TypeError`**. Python is not able to use Implicit Conversion in such conditions.
3. However, Python has a solution for these types of situations which is known as Explicit Conversion.

### 2. Explicit Type Conversion

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like **`int()`**, **`float()`**, **`str()`**, etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

**Syntax:**

```python
<required_datatype>(expression)
```

Typecasting can be done by assigning the required data type function to the expression.

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

num_int 10
num_float: 10.0

In [ ]:
# float to int
gravity = 9.81
print(int(gravity))             # 9

9

In [ ]:
# Example 3: Addition of string and integer using explicit conversion

num_int = 123
num_str = "456"       # there is a number inside " " so I CAN change it to integer
#num_str = "jason"    # there is a name inside " " so I cannot change to integer

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str) # change from "string" data type to integer datatype
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str  # Now we can add two same data types (int and int)

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

**Explanation**:

In the above program,

1. We add **`num_str`** and **`num_int`** variable.
2. We converted **`num_str`** from string(higher) to integer(lower) type using **`int()`** function to perform the addition.
3. After converting **`num_str`** to an integer value, Python is able to add these two variables.
4. We got the **`num_sum`** value and data type to be an integer.

In [ ]:
float(6)  # means converting interger 6 to a float value

6.0

Conversion from **`float`** to **`int`** will truncate the value (make it closer to zero).

In [ ]:
int(33.6)  # means converting float 33.6 to a integer value

# When you change from FLOAT to INTEGER it will round-up the number

33

In [ ]:
int(-33.6)

-33

Conversion to and from **`string`** must contain compatible values.

In [ ]:
# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

10
10

In [ ]:
float('7.5')  # means converting string '7.5' to a float value

7.5

In [ ]:
# str to int or float
num_str = '10.6' #or '10'
# print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

num_float 10.6

In [ ]:
str(65)  # means converting integer 65 to a string value

'65'

In [ ]:
int('1p')  # means converting string '1p' to a integer value

ValueError: invalid literal for int() with base 10: '1p'

In [ ]:
str("1p")

'1p'

We can even convert one sequence to another.

In [ ]:
set([1,2,3])  # [1,2,3] is tuple and now converting to a set {}

{1, 2, 3}

In [ ]:
tuple({5,6,7})  # {1,2,3} is set and now converting to a tuple ()

(5, 6, 7)

In [ ]:
list('hello')  # ("hello") is string and now converting to a list []

['h', 'e', 'l', 'l', 'o']

In [ ]:
# str to list
first_name = 'Milaan'
print(first_name)               # 'Milaan'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['M', 'i', 'l', 'a', 'a', 'n']

Milaan
['M', 'i', 'l', 'a', 'a', 'n']

To convert to dictionary, each element must be a pair:

In [ ]:
dict([[1,2],[3,4]])  # [[1,2],[3,4]] is tuple and now converting to a dictionary

{1: 2, 3: 4}

In [ ]:
dict([(3,63),(7,91)])  # [(3,63),(7,91)] is tuple and now converting to a dictionary

{3: 63, 7: 91}

## Key Points to Remember

1. Type Conversion is the conversion of object from one data type to another data type.
2. Implicit Type Conversion is automatically performed by the Python interpreter.
3. Python avoids the loss of data in Implicit Type Conversion.
4. Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
5. In Type Casting, loss of data may occur as we enforce the object to a specific data type.

In [ ]:
# Example 1:

print('This sentence is output to the screen')

This sentence is output to the screen

In [ ]:
# Example 2:

a = 9
print('The value of a is', a)

The value of a is 9

**Syntax** of the **`print()`** function is:

```python
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
```

Here, objects is the value(s) to be printed.

The **`sep`** separator is used between the values. It defaults into a space character.

After all values are printed, **`end`** is printed. It defaults into a new line.

The **`file`** is the object where the values are printed and its default value is **`sys.stdout`** (screen). Here is an example to illustrate this.

In [ ]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='#')   # It will separate your elements with '#'
print(1, 2, 3, 4, sep='*', end='&')  # It will separate your elements with '*' and end with '&'

1 2 3 4
1#2#3#4
1*2*3*4&

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [ ]:
x = 6; y = 12
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 6 and y is 12

Here, the curly braces **`{}`** are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).

In [ ]:
print('I love {0} and {1}'.format('Mango','Banana'))
print('I love {1} and {0}'.format('Mango','Banana'))

I love Mango and Banana
I love Banana and Mango

We can even use keyword arguments to format the string.

In [ ]:
print('Hello {name}, {greeting}!'.format(greeting = 'Good morning', name = 'Mark'))

Hello Mark, Good morning!

We can also format strings like the old **`sprintf()`** style used in C programming language. We use the **`%`** operator to accomplish this.

In [ ]:
x = 12.34567890
print('The value of x is %0.2f' %x)  # "%0.2" means only 2 number after decimal

print('The value of x is %0.3f' %x)  # "%0.3" means only 3 number after decimal

The value of x is 12.35
The value of x is 12.346

## 2. Python Input Using `input()` function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.

To allow flexibility, we might want to take the input from the user. In Python, we have a built-in function **`input()`** to accept user input.

**Syntax**:

```python
input([prompt])
```

where **`prompt`** is the string we wish to display on the screen. It is optional.

In [ ]:
num = input('Enter a number: ')
num

Enter a number: 90

'90'

Here, we can see that the entered value **`90`** is a string, not a number. To convert this into a number we can use **`int()`** or **`float()`** functions.

In [ ]:
int('90')  # converting string '90' to integer

90

In [ ]:
float('90')

90.0

In [ ]:
a = "6"  # Is this a STRING character
b = "P"  # IS this a STRING chracter
c = a + b
print(c)

6P

In [ ]:
int('6+3') # ERROR! cannot add numbers as string data type

ValueError: invalid literal for int() with base 10: '6+3'

This same operation can be performed using the **`eval()`** function. But **`eval`** takes it further. It can evaluate even expressions, provided the input is a string.

In [ ]:
eval('6+3') # Eval function can add numbers in string data type

9

In [ ]:
eval('3*6')

18

### Accepting User Inputs (as both integer and string)

**`input(prompt)`** prompts for and returns input as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [ ]:
a = input("Hello, \nHow are you?") # \n means new line

Hello,
How are you?I'm fine, thanks and you?

In [ ]:
abc = input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	999999

In [ ]:
type(abc)

str

**Note**: **`type( )`** returns the format or the type of a variable or a number

In [ ]:
name = input("Enter Student Name: ")
major = input("Enter Major: ")
university = input("Enter University: ")

print("\n")
print("Printing Student Details")
print("Name", "Major", "University")
print(name, major, university)

Enter Student Name: Arthur
Enter Major: IT
Enter University: Oxford


Printing Student Details
Name Major University
Arthur IT Oxford

In [ ]:
number = input("Enter number: ")
name = input("Enter name: ")

print("\n")
print("Printing type of a input value")
print("type of number", type(number))
print("type of name", type(name))

Enter number: 007
Enter name: Bond


Printing type of a input value
type of number <class 'str'>
type of name <class 'str'>

### Accepting User Inputs (only as integer)

A useful function to use in conjunction with this is **`eval()`** which takes a string and evaluates it as a python expression.

*Note:* In notebooks it is often easier just to modify the code than to prompt for input.

In [ ]:
xyz =  input("xyz = ")
print(xyz)
print(type(xyz))

xyzValue=eval(xyz)  # change input to integer data type from string data type
print(xyz,'=',xyzValue)

xyz = 66
66
<class 'str'>
66 = 66

In [ ]:
int("99")

99

In [ ]:
# program to calculate addition of two input numbers

first_number = int(input("Enter first number: "))  # converting input value to integer
second_number = int(input("Enter second number: "))  # converting input value to integer

print("\n")
print("First Number: ", first_number)
print("Second Number: ", second_number)
sum1 = first_number + second_number
print("Addition of two number is: ", sum1)

Enter first number: 3
Enter second number: 6


First Number:  3
Second Number:  6
Addition of two number is:  9

### Practice Problem

Accept one integer and one float number from the user and calculate the addition of both the numbers.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = float(input("Enter second number: "))

result=(num1+num2)
print("Final result is: ", result)

Enter first number: 6
Enter second number: 3.9
Final result is:  9.9

In [ ]:
# Write code to get three numbers and add first 2 number and multiply with third number

num1 = int(input("Enter first number: "))   # converting input value to integer
num2 = int(input("Enter second number: "))  # converting input value to integer
num3 = int(input("Enter third number: "))   # converting input value to integer

print("\n")
print("First Number: ", num1)
print("Second Number: ", num2)
print("Third Number: ", num3)

result=(num1+num2)*num3
print("Final result is: ", result)

Enter first number: 1
Enter second number: 2
Enter third number: 3


First Number:  1
Second Number:  2
Third Number:  3
Final result is:  9

In [ ]:
# Write a code to get four numbers:
#Step 1. Multiply first and fourth number
#Step 2. Divide second and third number
#Step3. Add Step 1 and Step 2 outputs.

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))

print("\n")
print("First Number: ", num1)
print("Second Number: ", num2)
print("Third Number: ", num3)
print("Fourth number: ", num4)

result=(num1*num4)+(num2/num3)
print("Final result is: ", result)

Enter first number: 5
Enter second number: 6
Enter third number: 7
Enter fourth number: 8


First Number:  5
Second Number:  6
Third Number:  7
Fourth number:  8
Final result is:  40.857142857142854

In [ ]:
# Write a code to get cube of the number

def cube(x):
    return x*x*x

a=int(input("Enter number: "))
print("cube of",a,"is",cube(a))

Enter number: 3
cube of 3 is 27

### Accept float input from User

Let’s see how to accept float value from a user in Python. You need to convert user input to the float number using the **`float()`** function as we did for the integer value.

In [ ]:
float_number = float(input("Enter float number: "))  # converting input value to float
print("\n")
print("input float number is: ", float_number)
print("type is:", type(float_number))

Enter float number: 9


input float number is:  9.0
type is: <class 'float'>

### Get multiple input values from a user in one line

In Python, It is possible to get multiple values from the user in one line. i.e., In Python, we can accept two or three values from the user in one **`input()`** call.

For example, in a single execution of the **`input()`** function, we can ask the user his/her name, age, and phone number and store it in three different variables. Lets see how to do this.

In [ ]:
name, age, phone = input("Enter your Name, Age, Phone_number separated by space: ").split()
print("\n")
print("User Details: ", name, age, phone)

Enter your Name, Age, Phone_number separated by space: Clark 36 13756537093


User Details:  Clark 36 13756537093

### Accept multiline input from a user

As you know, the input() function does not allow the user to enter put lines separated by a newline. If the user tries to enter multiline input, it prints back only the first line. Let’s see how to gets multiple line input.

As you know, the input() function does not allow the user to enter put lines separated by a newline. If the user tries to enter multiline input, it prints back only the first line. Let’s see how to gets multiple line input.

We can use for loop. In each iteration, we can get input string from the user and then .join() them using \n, or you can also concatenate each input string using + operator separated by \n.

In [ ]:
MultiLine = []
print("Tell me about yourself")
while True:
    line = input()
    if line:
        MultiLine.append(line)
    else:
        break
finalText = '\n'.join(MultiLine)
print("\n")
print("Final text input")
print(finalText)

Tell me about yourself
Hello! I am happy to learn Python and I love travelling.
Also, I love cooking and singing.



Final text input
Hello! I am happy to learn Python and I love travelling.
Also, I love cooking and singing.

### Format output strings by its positions

In [ ]:
firstName = input("Enter First Name: ")
lastName = input("Enter Last Name: ")
organization = input("Enter Organization Name: ")

print("\n")
print('{0}, {1} works at {2}'.format(firstName, lastName, organization))
print('{1}, {0} works at {2}'.format(firstName, lastName, organization))
print('FirstName {0}, LastName {1} works at {2}'.format(firstName, lastName, organization))
print('{0}, {1} {0}, {1} works at {2}'.format(firstName, lastName, organization))

Enter First Name: Ethan
Enter Last Name: Hunt
Enter Organization Name: Mission Impossible


Ethan, Hunt works at Mission Impossible
Hunt, Ethan works at Mission Impossible
FirstName Ethan, LastName Hunt works at Mission Impossible
Ethan, Hunt Ethan, Hunt works at Mission Impossible

### Accessing output string arguments by name

In [ ]:
name = input("Enter Name: ")
marks = input("Enter marks: ")

print("\n")
print('Student: Name:  {firstName}, Marks: {percentage}%'.format(firstName=name, percentage=marks))

Enter Name: David
Enter marks: 85


Student: Name:  David, Marks: 85%

### Output text alignment specifying a width

In [ ]:
text = input("Enter text: ")

print("\n")
# left aligned
print('{:<25}'.format(text)) # Right aligned print('{:>25}'.format(text))
# centered
print('{:^25}'.format(text))
# right aligned
print('{:>25}'.format(text))

Enter text: Python


Python
         Python
                   Python

### Specifying a sign while displaying output numbers

In [ ]:
positive_number = float(input("Enter Positive Number: "))
negative_number = float(input("Enter Negative Number: "))

print("\n")
# sign '+' is for both positive and negative number
print('{:+f}; {:+f}'.format(positive_number, negative_number))

# sign '-' is only for negative number
print('{:f}; {:-f}'.format(positive_number, negative_number))

Enter Positive Number: 9
Enter Negative Number: -4


+9.000000; -4.000000
9.000000; -4.000000

### Display output Number in various type format

In [ ]:
number = int(input("Enter number: "))

print("\n")
# 'd' is for integer number formatting
print("The number is:{:d}".format(number))

# 'o' is for octal number formatting, binary and hexadecimal format
print('Output number in octal format : {0:o}'.format(number))

# 'b' is for binary number formatting
print('Output number in binary format: {0:b}'.format(number))

# 'x' is for hexadecimal format
print('Output number in hexadecimal format: {0:x}'.format(number))

Enter number: 63


The number is:63
Output number in octal format : 77
Output number in binary format: 111111
Output number in hexadecimal format: 3f

### Display numbers in floating-point format

In [ ]:
number = float(input("Enter float Number: "))

print("\n")
# 'f' is for float number arguments
print("Output Number in The float type :{:f}".format(number))

# padding for float numbers
print('padding for output float number{:5.2f}'.format(number))

# 'e' is for Exponent notation
print('Output Exponent notation{:e}'.format(number))

# 'E' is for Exponent notation in UPPER CASE
print('Output Exponent notation{:E}'.format(number))

Enter float Number: 33


Output Number in The float type :33.000000
padding for output float number33.00
Output Exponent notation3.300000e+01
Output Exponent notation3.300000E+01

### Output String justification

Let’s see how to use **`str.rjust()`**,   **`str.ljust()`** and **`str.center()`** to justify text output on screen and console.

In [ ]:
text = input("Enter String: ")

print("\n")
print("Left justification", text.ljust(60, "*"))
print("Right justification", text.rjust(60, "*"))
print("Center justification", text.center(60, "*"))

Enter String: Jupyter


Left justification Jupyter*****************************************************
Right justification *****************************************************Jupyter
Center justification **************************Jupyter***************************

We can use the module in the following ways:

In [ ]:
import math
print(math.pi) # do not have to make vairable for pi

3.141592653589793

Now all the definitions inside **`math`** module are available in our scope. We can also import some specific attributes and functions only, using the **`from`** keyword. For example:

In [ ]:
from math import pi
pi

3.141592653589793

While importing a module, Python looks at several places defined in **`sys.path`**. It is a list of directory locations.

In [ ]:
import sys
sys.path

['C:\\Users\\Deepak\\01_Learn_Python4Data\\01_Python_Introduction',
 'C:\\ProgramData\\Anaconda3\\python38.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\Users\\Deepak\\AppData\\Roaming\\Python\\Python38\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Deepak\\.ipython']

We can also add our own location to this list.

# Python Operators

Python can be used like a calculator. Simply type in expressions to get them evaluated.

**What are operators in python?**

Operators are special **symbols** in Python that carry out **arithmetic** or **logical computation**. The value that the operator operates on is called the **operand**.

For example:

```python
>>>6+3

9
```

Here, **`+`** is the operator that performs addition. **`2`** and **`3`** are the operands and **`5`** is the output of the **operation**.

In [ ]:
6+3

9

## 1. Arithmatic Operators

Arithmetic operators are used to perform **mathematical operations** like **addition**, **subtraction**, **multiplication** etc.

| Symbol | Task Performed | Meaning | Example |
|:------:|:---------------| :------: |:--------:|
| **`+`**      | Addition | add two operands or unary plus | **x + y** or **+2** |
| **`-`**      | Subtraction | substract right operand from the left or unary minus | **x - y** or **-2** |
| **`*`**      | Multiplication | Multiply two operands | **x \* y** |
| **`/`**      | Division | Divide left operand by the right one (always results into float) | **x / y** |
| **`%`**      | Modulus (remainder) | remainder of the division of left operand by the right | **x % y** (remainder of **x/y**) |
| **`//`**     | Integer/Floor division | division that results into whole number adjusted to the left in the number line | **x // y** |
| <b>`**`</b>     | Exponentiation (power) | left operand raised to the power of right | **x \*\* y** (**x** to the power **y**) |

As expected these operations generally promote to the most general type of any of the numbers involved i.e. int -> float -> complex.

#### Example : Arithmetic operators in Python

In [ ]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ',7 // 3)
print('Exponential: ', 3 ** 2)                      # it means 3 * 3

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [ ]:
x = 16
y = 3

print('x + y =',x+y) # 19
print('x - y =',x-y) # 13
print('x * y =',x*y) # 48
print('x / y =',x/y) # 5.333
print('x // y =',x//y) # 519

x + y = 19
x - y = 13
x * y = 48
x / y = 5.333333333333333
x // y = 5

In [ ]:
1+2+3

6

In [ ]:
7-1

6

In [ ]:
6 * (3+0j) * 1.0

(18+0j)

In [ ]:
5/6

0.8333333333333334

In many languages (and older versions of python) $\frac{1}{2}=0$ (truncated division). In Python 3 this behaviour is captured by a separate operator that rounds down: (i.e., **a // b$=\lfloor \frac{a}{b}\rfloor$**)

In [ ]:
5//6.0

0.0

In [ ]:
15%10

5

In [ ]:
3 ** 2      # it means 3 * 3

9

Python natively allows (nearly) infinite length integers while floating point numbers are double precision numbers:

In [ ]:
22**600

28418980453852622603883856494709731311218158362293224700445543940796643776911788129508577246309929258069598467896008287596053863082109746801947722280783720032649818198464452375358348619120021135797251857019557032565638659667745421115194468559021541269027438746788486392649581405327516658718317011453858465218779880972140612551504149701082164179367484198570734230003528355826545644223794779911723917115845213739921327820409005460708547942445234906498880588411276755120002108963510955276534630522965966177951626038063994937181228938844252668098515385045718428663547788122173798704717510979319749834083419004355222012043715855123615249682039587844431246269017612728291710718821388840627277407189863509789929339102406655115786899696829902032282666983426897111750208839152830573688512831984602085360572485861376

In [ ]:
22.0**600

OverflowError: (34, 'Result too large')

## 2. Comparison/Relational operators

Comparison operators are used to **compare values**. It either returns **True** or **False** according to the **condition**.

| Symbol | Task Performed | Meaning | Example |
|:----:| :--- |:--- |:---: |
| **`>`** | greater than | True if left operand is greater than the right | **x > y** |
| **`<`** | less than | True if left operand is less than the right | **x < y** |
| **`==`** | equal to | True if both operands are equal | **x == y** |
| **`!=`**  | not equal to | True if both operands are not equal | **x != y** |
| **`>=`**  | greater than or equal to | True if left operand is greater than or equal to the right | **x >= y** |
| **`<=`**  | less than or equal to | True if left operand is less than or equal to the right | **x <= y** |

Note the difference between **`==`** (equality test) and **`=`** (assignment)

#### Example : Comparison operators in Python

In [ ]:
print(6 > 3)                           # True, because 3 is greater than 2
print(6 >= 3)                          # True, because 3 is greater than 2
print(6 < 3)                           # False,  because 3 is greater than 2
print(3 < 6)                           # True, because 2 is less than 3
print(3 <= 6)                          # True, because 2 is less than 3
print(6 == 3)                          # False, because 3 is not equal to 2
print(6 != 3)                          # True, because 3 is not equal to 2
print(len("apple") == len("avocado"))  # False
print(len("apple") != len("avocado"))  # True
print(len("apple") < len("avocado"))   # True
print(len("banana") != len("orange"))  # False
print(len("banana") == len("orange"))  # True
print(len("tomato") == len("potato"))  # True
print(len("python") > len("coding"))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [ ]:
x = 30
y = 22

print('x > y is',x>y)   # False
print('x < y is',x<y)   # True
print('x >= y is',x>=y) # False
print('x <= y is',x<=y) # True

x > y is True
x < y is False
x >= y is True
x <= y is False

In [ ]:
z = 3  # 3 is assign to variable z
z == 3 # 3 is equal to z

True

In [ ]:
z > 3

False

Comparisons can also be chained in the mathematically obvious way. The following will work as expected in Python (but not in other languages like C/C++):

In [ ]:
0.5 < z <= 1   # z == 3

False

## 3. Logical/Boolean operators

Logical operators are the **`and`**, **`or`**, **`not`** operators.

| Symbol | Meaning | Example |
|:----:| :---: |:---:|
| **`and`** |  True if both the operands are true | **x and y** |
| **`or`** |  True if either of the operand is true | **x or y** |
| **`not`** |  True if operand are false (complements the operand) | **not x** |


#### Example : Logical operators in Python

In [ ]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [ ]:
# Another way comparison

print('1 is 1', 1 is 1)                  # True  - because the data values are the same
print('1 is not 2', 1 is not 2)          # True  - because 1 is not 2
print('A in Milaan', 'A' in 'Milaan')    # True  - A found in the string
print('B in Milaan', 'B' in 'Milaan')    # False - there is no uppercase B
print('python' in 'python is fun')       # True  - because coding for all has the word coding
print('a in an:', 'a' in 'an')           # True
print('27 is 3 ** 3:', 27 is 3**3)       # True

1 is 1 True
1 is not 2 True
A in Milaan False
B in Milaan False
True
a in an: True
27 is 3 ** 3: True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-7c9145eb11e9>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                  # True  - because the data values are the same
<ipython-input-19-7c9145eb11e9>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)          # True  - because 1 is not 2
<ipython-input-19-7c9145eb11e9>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('27 is 3 ** 3:', 27 is 3**3)       # True

In [ ]:
print(6 > 3 and 5 > 3) # True  - because both statements are true
print(6 > 3 and 5 < 3) # False - because the second statement is false
print(6 < 3 and 5 < 3) # False - because both statements are false
print(6 > 3 or 5 > 3)  # True  - because both statements are true
print(6 > 3 or 5 < 3)  # True  - because one of the statement is true
print(6 < 3 or 5 < 3)  # False - because both statements are false
print(not 6 > 3)       # False - because 6 > 3 is true, then not True gives False
print(not True)        # False - Negation, the not operator turns true to false
print(not False)       # True
print(not not True)    # True
print(not not False)   # False

True
False
False
True
True
False
False
False
True
True
False

In [ ]:
x = True
y = False

print('x and y is',x and y) # False
print('x or y is',x or y) # True
print('not x is',not x) # False

x and y is False
x or y is True
not x is False

In [ ]:
True and (not(not False)) or (True and (not True))  # What will be output?

# True and (not(True)) or (True and (False))
# True and False or (False)
# False or False
# False

False

## 4. Bitwise operators

Bitwise operators act on operands as if they were string of binary digits. It operates **bit by bit**, hence the name.

**For example:** 2 is **`10`** in binary and 7 is **`111`**.

**In the table below:** Let **`x`** = 10 (**`0000 1010`** in binary) and **`y`** = 4 (**`0000 0100`** in binary)

| Operator | Meaning  | Symbol | Task Performed | Example |
|:---:|:---:| :---:|:---:|:---:|
|**`and`** | Logical and |  **`&`**    | Bitwise And | **x & y** = 0 (**`0000 0000`**) |
|**`or`**  | Logical or  |  **$\mid$** | Bitwise OR  | **x \| y** = 14 (**`0000 1110`**) |
|**`not`** | Not         |  **`~`**    | Bitwise NOT | **~x** = -11 (**`1111 0101`**) |
| &nbsp;   |&nbsp;       |    **`^`**  | Bitwise XOR | **x ^ y** = 14 (**`0000 1110`**) |
| &nbsp;   |&nbsp;       |   **`>>`**  | Bitwise right shift | **x >> 2** = 2 (**`0000 0010`**) |
| &nbsp;   |&nbsp;       |   **`<<`**  | Bitwise left shift | **x << 2** = 40 (**`0010 1000`**) |

In [ ]:
a = 2 #binary: 0010
b = 3 #binary: 0011
print('a & b =',a & b,"=",bin(a&b))

a & b = 2 = 0b10

In [ ]:
5 >> 1

# 0 ➡ 0000 0101
#      0000 0010
# 0010 is 2 in decimal

2

**Explanation**:

0000 0101 -> 5  (5 is 0101 in binary)

Shifting the digits by 1 to the right and zero padding that will be: 0 ➡ 0000 0101 = 0000 0010

0000 0010 -> 2

In [ ]:
5 << 1

# 0000 0101  ⬅ 0
# 0000 1010
# 1010 is 10 in decimal

10

**Explanation**:

0000 0101 -> 5

Shifting the digits by 1 to the left and zero padding will be: 0000 0101  ⬅ 0 = 0000 1010

0000 1010 -> 10

In [ ]:
6 >> 2  # What will be output???

1

In [ ]:
print(not (True and False), "==", not True or not False)
#      TRUE                  ==     True

True == True

In [ ]:
print (False and (not False) or (False and True), "==",not (True and (not False) or (not True)))

False == False

## 5. Assignment operators

Assignment operators are used in Python to **assign values** to **variables**.

**`a = 5`** is a simple assignment operator that assigns the value 5 on the right to the variable **`a`** on the left.

There are various compound operators in Python like a **`+= 5`** that adds to the variable and later assigns the same. It is equivalent to **`a = a + 5`**.

| Symbol | Example | Equivalent to |
|:---:|:---:|:---:|
| **`=`** | **x = 5** | **x = 5** |
| **`+=`** | **x += 5** | **x = x + 5** |
| **`-=`** | **x -= 5** | **x = x - 5** |
| **`*=`** | **x \*= 5** | **x = x \* 5** |
| **`/=`** | **x /= 5** | **x = x / 5** |
| **`%=`** | **x %= 5** | **x = x % 5** |
| **`//=`** | **x //= 5** | **x = x // 5** |
| <b>`**=`</b> | **x \*\*= 5** | **x = x \*\* 5** |
| **`&=`** | **x &= 5** | **x = x & 5** |
| **`\|=`** | **x \|= 5** | **x = x \| 5** |
| **`^=`** | **x ^= 5** | **x = x ^ 5** |
| **`>>=`** | **x >>= 5** | **x = x >> 5** |
| **`<<=`** | **x <<= 5** | **x = x << 5** |

The binary operators can be combined with assignment to modify a variable value. For example:

In [ ]:
x = 1
x += 2 # add 2 to x
print("x is",x)
x <<= 2 # left shift by 2 (equivalent to x *= 4)
print('x is',x)
x **= 2 # x := x^2
print('x is',x)

x is 3
x is 12
x is 144

## 6. Special operators

Python language offers some special types of operators like the identity operator or the membership operator. They are described below with examples.

### 1. Identity operators

**`is`** and **`is not`** are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the **memory**. Two variables that are equal does not imply that they are **identical**.

| Symbol | Meaning | Example |
|:---:| :---: |:---:|
| **`is`** |  True if the operands are identical (refer to the same object) | **x is True**  |
| **`is not`** |  True if the operands are not identical (do not refer to the same object)  | **x is not True** |

#### Example : Identity operators in Python

In [ ]:
x1 = 6
y1 = 6
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3] # list
y3 = [1,2,3] # list

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False because two list [] can never be equal
print(x3 is y3)

False
True
False

**Explanation:**

Here, we see that **`x1`** and **`y1`** are integers of same values, so they are equal as well as identical. Same is the case with **`x2`** and **`y2`** (strings).

But **`x3`** and **`y3`** are list. They are equal but not identical. It is because interpreter locates them **separately in memory** although they are equal.

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'} # dictionary 1 is key and 'a' is element. So we access element without its key.

# Output: True
print('H' in x)  # Do we have 'H' in 'Hello World' ?

# Output: True
print('hello' not in x)  # Do we have 'hello' in 'Hello World' ?

# Output: True
print(1 in y)

# Output: False because we cannot identify 'a' without its key hence it is Flase.
print('a' in y)

True
True
True
False

**Explanation:**

Here, **'`H`'** is in **`x`** but **'`hello`'** is not present in **`x`** (remember, Python is case sensitive). Similary, **`1`** is key and **'`a`'** is the value in dictionary y. Hence, **`'a'in y`** returns **`False`**.

## 💻 Exercises ➞ <span class='label label-default'>Operators</span>

1. Declare your age as integer variable
2. Declare your height as a float variable
3. Declare a variable that store a complex number
4. Write a code that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

```py
    Enter base: 20
    Enter height: 10
    The area of the triangle is 100
```

5. Write a code that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).

```py
Enter side a: 5
Enter side b: 4
Enter side c: 3
The perimeter of the triangle is 12
```

6. Get length and width of a rectangle using prompt. Calculate its area (**area = length x width**) and perimeter (**perimeter = 2 x (length + width)**)
7. Get radius of a circle using prompt. Calculate the area (**area = pi x r x r**) and circumference (**c = 2 x pi x r**) where pi = 3.14.
8. Calculate the slope, x-intercept and y-intercept of $y = 2x -2$
9. Slope is ($m = (y2-y1)/(x2-x1)$). Find the slope and **[Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance#:~:text=In%20mathematics%2C%20the%20Euclidean%20distance,being%20called%20the%20Pythagorean%20distance.)** between point (2, 2) and point (6,10)
10. Compare the slopes in tasks 8 and 9.
11. Calculate the value of y ($y = x^2 + 6x + 9$). Try to use different x values and figure out at what x value y is going to be 0.
12. Find the length of **`'python'`** and **`'datascience'`** and make a falsy comparison statement.
13. Use **`and`** operator to check if **`on`** is found in both **`python`** and **`cannon`**
14. **`I hope this course is not full of jargon`**. Use **`in`** operator to check if **`jargon`** is in the sentence.
15. There is no **`on`** in both **`python`** and **`cannon`**
16. Find the length of the text **`python`** and convert the value to float and convert it to string
17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
19. Check if type of **"10"** is equal to type of 10
20. Check if int(**"9.6"**) is equal to 10
21. Write a code that prompts the user to enter hours and rate per hour. Calculate pay of the person?

```py
Enter hours: 40
Enter rate per hour: 30
Your weekly earning is 1200
```

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds.
```

23. Write a Python code that displays the following table

```py
1 2 3 4 5  
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
```

# Python Namespace and Scope

In this tutorial, you will learn about namespace, mapping from names to objects, and scope of a variable.

In [ ]:
# Note: You may get different values for the id

a = 9
print('id(9) =', id(9))

print('id(a) =', id(a))

id(9) = 140708960741424
id(a) = 140708960741424

Here, both refer to the same object **`9`**, so they have the same **`id()`**. Let's make things a little more interesting.

In [ ]:
# Note: You may get different values for the id

a = 2
print('id(a) =', id(a))

a = a+1
print('id(a) =', id(a))

print('id(3) =', id(3))

b = 2
print('id(b) =', id(b))
print('id(2) =', id(2))

id(a) = 140708960741200
id(a) = 140708960741232
id(3) = 140708960741232
id(b) = 140708960741200
id(2) = 140708960741200

What is happening in the above sequence of steps? Let's use a diagram to explain this:

**Memory diagram of variables in Python**:

<div>
<img src="../img/ns1.png" width="500"/>
</div>

Initially, an object **`2`** is created and the name a is associated with it, when we do **`a = a+1`**, a new object **`3`** is created and now a is associated with this object.

Note that **`id(a)`** and **`id(3)`** have the same values.

Furthermore, when **`b = 2`** is executed, the new name **`b`** gets associated with the previous object **`2`**.

This is efficient as Python does not have to create a new duplicate object. This dynamic nature of name binding makes Python powerful; a name could refer to any type of object.

```python
>>>a = 5
>>>a = 'Hello World!'
>>>a = [1,2,3]
```

In [ ]:
def printHello():
    print("Hello")

a = printHello

a()

Hello

The same name **`a`** can refer to a function and we can call the function using this name.

## Python Variable Scope

Although there are various unique namespaces defined, we may not be able to access all of them from every part of the program. The concept of scope comes into play.

A scope is the portion of a program from where a namespace can be accessed directly without any prefix.

At any given moment, there are at least three nested scopes.

1. Scope of the current function which has local names
2. Scope of the module which has global names
3. Outermost scope which has built-in names

When a reference is made inside a function, the name is searched in the local namespace, then in the global namespace and finally in the built-in namespace.

If there is a function inside another function, a new scope is nested inside the local scope.

Example of Scope and Namespace in Python

```python
>>>def outer_function():
>>>    b = 30
>>>    def inner_func():
>>>        c = 60

>>>a = 90
```

Here, the variable **`a`** is in the global namespace. Variable **`b`** is in the local namespace of **`outer_function()`** and **`c`** is in the nested local namespace of **`inner_function()`**.

When we are in **`inner_function()`**, **`c`** is local to us, **`b`** is nonlocal and **`a`** is global. We can read as well as assign new values to **`c`** but can only read **`b`** and **`a`** from **`inner_function()`**.

If we try to assign as a value to **`b`**, a new variable **`b`** is created in the local namespace which is different than the nonlocal **`b`**. The same thing happens when we assign a value to **`a`**.

However, if we declare **`a`** as global, all the reference and assignment go to the global **`a`**. Similarly, if we want to rebind the variable **`b`**, it must be declared as nonlocal. The following example will further clarify this.

In [ ]:
def outer_function():
    a = 30

    def inner_function():
        a = 60
        print('a =', a)

    inner_function()
    print('a =', a)


a = 90
outer_function()
print('a =', a)

a = 60
a = 30
a = 90

In this program, three different variables **`a`** are defined in separate namespaces and accessed accordingly. While in the following program,

In [ ]:
def outer_function():
    global a
    a = 30

    def inner_function():
        global a
        a = 60
        print('a =', a)

    inner_function()
    print('a =', a)


a = 90
outer_function()
print('a =', a)

a = 60
a = 60
a = 60

Here, all references and assignments are to the global **`a`** due to the use of keyword **`global`**.